.dashboard-layout {
    margin-top: 70px;
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 70px);

    .dashboard-container {
        display: flex;
        flex: 1;


        .dashboard-menu {
            max-width: 230px;
            width: 100%;
            border-right: 1px solid #eee;
            background: white;
            @include respond_to(sm-down) {
                transition: all .3s;
                position: fixed;
                z-index: 1;
                height: 100%;
                left: -100%;
                &.open {
                    left: 0;
                }
            }


            a.nav-link {
                color: #292838;

                &:hover,
                &.active {
                    background: #e9e9e9;
                }

                svg {
                    font-size: 15px;
                    margin-right: 7px;
                }
            }

            /*--------------------sidebar-header----------------------*/
            .sidebar-header {
                padding: 20px;
                overflow: hidden;

                .user-pic {
                    float: left;
                    width: 60px;
                    padding: 2px;
                    border-radius: 12px;
                    margin-right: 15px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .user-info {
                    float: left;

                    > span {
                        display: block;
                    }

                    .user-role {
                        font-size: 12px;
                    }

                    .user-status {
                        font-size: 11px;
                        margin-top: 4px;

                        svg {
                            font-size: 8px;
                            margin-right: 4px;
                            color: #5cb85c;
                        }
                    }
                }
            }
        }

        .dashboard-content {
            position: relative;
            flex: 1;

            .menu-opener {
                display: none;
                position: absolute;
                right: 3rem;
                top: 12px;
                @include respond_to(sm-down) {
                    display: block;
                }
            }

            #title-section {
                margin-bottom: 0.2rem;
                margin-top: 0.5rem;
                padding: 15px 15px 15px 3rem;
                background: #fff;

                h3 {
                    font-size: 20px;
                    line-height: 1;
                    margin-bottom: 0;
                }
            }

            #dashboard-inner {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }
}



.sm-p-0 {
    @include respond_to(sm-down) {
        padding-top: 0;
    }
}


img.image-responsive {
    @include respond_to(sm-down) {
        margin-top: 50px;
        max-width: 90%;
    }
}

img.max-80 {
    max-width: 80%;
    @include respond_to(sm-down) {
    }
}
