// from dashboard.
.referral-program {
    .user-data {
        padding: 15px;
        background: #f7f7f7;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 22px;
    }
}

// front end
#referral-program {
    #navbar {
        background: $black;
    }

    #referral-program-inner {
        margin-top: 70px;
    }

    .commission {
        font-size: 5rem;
    }

    #home {
        img {
            @include respond_to(sm-down) {
                margin-bottom: 50px;
            }
        }
        &.hero-3-bg {
            padding-top: 30px;
        }
    }

    img.referral-image-content {
        @include respond_to(sm-down) {
            margin-top: 50px;
            max-width: 90%;
        }
    }
}
