#privacy,
#terms-conditions {
    #navbar {
        background: $black;
    }

    #privacy-inner,
    #terms-conditions-inner {
        margin-top: 150px !important;
        margin-bottom: 150px !important;
    }
}
