#trading {
    margin-bottom: 3rem;

    #tabs-container {
        margin-top: 3rem;
    }

    .dropdown-item {
        cursor: pointer;
        &:hover,
        &:focus {
            color: #5a4fdc !important;
            background-color: #292838;
        }
    }

    a {
        cursor: pointer;
    }
}
