@import 'variables';
@import 'mixins';
@import '~sweetalert2/src/sweetalert2';
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import "vendor/style";
@import "vendor/materialdesignicons.min.css";

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/accordion';
@import 'elements/tooltips';
@import 'elements/card-counter';
@import 'elements/tables';

@import 'layout';
@import 'faq';
@import 'intelligence';
@import 'contact-us';
@import 'login';
@import 'dashboard';
@import 'settings';
@import 'terms';
@import 'trading';
@import 'referral-program';

@import 'components/server-error';
@import 'components/vue-multiselect';




.nav-pills {
    .nav-link {
        width: 100%;
        &.active {
            background-color: #1e222d;
        }
    }
}

.main-layout > .container,
.main-layout > .container-fluid {
    min-height: 480px;
}

.cursor-pointer {
    cursor: pointer;
}

.remove {
    display: flex;
    align-items: center;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
}
