.multiselect {
    &.is-invalid {
        .multiselect__tags {
            border-color: #dc3545;
        }
    }

    .multiselect__tags {
        background-color: rgba(59, 57, 80, 0.01);
        border: 1px solid rgba(158, 156, 185, 0.3);
        border-radius: .125rem;
    }
}
