
.accordion-section {
    .panel-default {
        > .panel-heading {
            border: 0;
            background: #f4f4f4;
            padding: 0;
        }
        .panel-title {
            a {
                display: flex;
                color: #292838;
                font-size: 1.1rem;
                align-items: center;
                justify-content: space-between;
                transition: rotate .2s;
                .icon {
                    position: relative;
                    top: 2px;
                }

                &.collapsed {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .panel-body {
            font-size: 1rem;
        }
    }
}

//
.card.accordion {
    .card-header {
        position: relative;
        &::after {
            position: absolute;
            right: 15px;
            content: "";
            border-bottom: 0;
            border-top: 7px solid;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .card-header[aria-expanded="true"]::after {
        content: "";
        border-top: 0;
        border-bottom: 7px solid;
    }
}
