<template>
    <div>
        <div v-scroll-spy class="mt-5">
            <!-- Hero Start -->
            <Contact/>
            <!-- Hero End -->
            <WidgetTViewTickers/>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {PieChartIcon, TriangleIcon} from "vue-feather-icons";
    import Contact from "~/components/Contact";
    import WidgetTViewTickers from "~/components/WidgetTViewTickers";

    export default {
        layout: 'basic',

        components: {
            PieChartIcon,
            TriangleIcon,
            Contact,
            WidgetTViewTickers,
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>

