<template>
    <div>
        <div v-scroll-spy>
            <!-- Hero Start -->
            <Faqs/>
            <!-- Hero End -->
            <WidgetTViewTickers/>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {PieChartIcon, TriangleIcon} from "vue-feather-icons";
    import Faqs from "~/components/Faqs";
    import WidgetTViewTickers from "~/components/WidgetTViewTickers";

    export default {
        layout: 'basic',

        components: {
            PieChartIcon,
            TriangleIcon,
            Faqs,
            WidgetTViewTickers,
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>

