<template>
    <div>
        <div v-scroll-spy>
            <!-- Hero Start -->
            <section
                class="hero-5-bg d-flex vh-100 mx-auto flex-column align-items-center justify-content-center position-relative"
                id="home"
                :style="{'background-image': 'url(' + require('@/images/faq-bg.jpg') + ')'}"
            >
                <div class="bg-overlay"></div>
                <div class="bg-hero-overlay"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="hero-content">
                                <h1 class="text-dark hero-5-title text-shadow line-height-1_4 mb-4">
                                    {{ $t('intelligence_section_1_title') }}
                                </h1>
                                <p class="text-muted mb-4">
                                    {{ $t('intelligence_section_1_subtitle') }}
                                </p>
                                <p class="text-muted font-size-15">
                                    <pie-chart-icon class="icon-xs icon mr-1 text-success"></pie-chart-icon>
                                    {{ $t('intelligence_section_1_item_1') }}
                                </p>
                                <p class="text-muted font-size-15">
                                    <TriangleIcon class="icon-xs icon mr-1 text-success"></TriangleIcon>
                                    {{ $t('intelligence_section_1_item_2') }}
                                </p>

                                <router-link :to="{name: 'login'}" class="btn btn-primary mt-4">
                                    {{$t('get_started')}}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero End -->
            <WidgetTViewTickers/>
            <Blog/>
            <!-- Features Start -->
            <section
                class="section bg-light feather-bg-img"
                :style="{'background-image': 'url(' + require('../../images/features-bg-img.png') + ')'}"
                id="features"
            >
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <h3 class="title mb-3">{{ $t('intelligence_section_2_title') }}</h3>
                                <p class="text-muted font-size-15">
                                    {{ $t('intelligence_section_2_subtitle') }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="mb-4 mb-lg-0">
                                <img src="../../images/binance.jpg" alt class="img-fluid d-block mx-auto"/>
                            </div>
                        </div>

                        <div class="col-lg-5 offset-lg-1">
                            <p class="font-weight-medium text-uppercase mb-2">
                                <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
                                {{ $t('get_started') }}
                            </p>
                            <h3 class="font-weight-semibold line-height-1_4 mb-4">
                                <b>{{ $t('intelligence_section_2_item_title') }}</b>
                            </h3>
                            <p class="text-muted font-size-15 mb-4">
                                {{ $t('intelligence_section_2_item_desc') }}
                            </p>
                            <p class="text-muted mb-2">
                                <alert-circle-icon class="icon-xs mr-1"></alert-circle-icon>
                                {{ $t('intelligence_section_2_item_1') }}
                            </p>
                            <p class="text-muted">
                                <cloud-off-icon class="icon-xs mr-1"></cloud-off-icon>
                                {{ $t('intelligence_section_2_item_2') }}
                            </p>
                            <p class="text-muted">
                                <user-plus-icon class="icon-xs mr-1"></user-plus-icon>
                                <a href="https://accounts.binance.com/en/register?ref=G10QA5IV" target="_blank">
                                    {{ $t('intelligence_section_2_item_3') }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section
                class="section feather-bg-img"
                :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
            >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <p class="font-weight-medium text-uppercase mb-2">
                                <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> To The Moon
                            </p>
                            <h3 class="font-weight-semibold line-height-1_4 mb-4">
                                <b>{{ $t('intelligence_section_3_item_title') }}</b>.
                            </h3>
                            <p class="text-muted font-size-15 mb-4">
                                {{ $t('intelligence_section_3_item_desc') }}
                            </p>
                            <p class="text-muted mb-2">
                                <user-plus-icon class="icon-xs mr-1"></user-plus-icon>
                                <router-link :to="{name: 'register'}">
                                    {{ $t('intelligence_section_3_item_1') }}
                                </router-link>
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <div class="mt-4 mt-lg-0">
                                <img src="../../images/dashboard.png" alt class="img-fluid d-block mx-auto"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section
                class="section feather-bg-img"
                :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
            >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <p class="font-weight-medium text-uppercase mb-2">
                                <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> To The Moon
                            </p>
                            <h3 class="font-weight-semibold line-height-1_4 mb-4">
                                <b>{{ $t('intelligence_section_4_item_title') }}</b>.
                            </h3>
                            <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
                            <p class="text-muted font-size-15 mb-4">
                                {{ $t('intelligence_section_4_item_paragraph_1') }}
                            </p>
                            <p>
                                {{ $t('intelligence_section_4_item_paragraph_2') }}
                            </p>
                            <p class="text-muted mb-2">
                                <user-plus-icon class="icon-xs mr-1"></user-plus-icon>
                                {{ $t('intelligence_section_4_item_1') }}
                            </p>
                            <p class="text-muted">
                                <user-plus-icon class="icon-xs mr-1"></user-plus-icon>
                                {{ $t('intelligence_section_4_item_2') }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <section
                class="section bg-light feather-bg-img"
                :style="{'background-image': 'url(' + require('../../images/features-bg-img.png') + ')'}"
                id="features-4"
            >
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <h3 class="title mb-3">{{ $t('intelligence_section_5_title') }}</h3>
                                <p class="text-muted font-size-15">
                                    {{ $t('intelligence_section_5_subtitle') }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="mb-4 mb-lg-0">
                                <iframe
                                    scrolling="no"
                                    frameborder="0"
                                    title="Interactive or visual content"
                                    sandbox="allow-same-origin allow-forms allow-scripts allow-downloads allow-popups allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation"
                                    src="https://flo.uri.sh/visualisation/6356481/embed?auto=1"
                                    style="width: 100%; height: 600px;">
                                </iframe>
                            </div>
                        </div>

                        <div class="col-lg-5 offset-lg-1">
                            <p class="font-weight-medium text-uppercase mb-2">
                                <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
                                {{ $t('intelligence_section_5_item_pre_title') }}
                            </p>
                            <h3 class="font-weight-semibold line-height-1_4 mb-4">
                                <b>{{ $t('intelligence_section_5_item_title') }}</b>
                            </h3>
                            <p class="text-muted font-size-15 mb-4">
                                {{ $t('intelligence_section_5_item_desc') }}
                            </p>
                            <p class="text-muted mb-2">
                                <percent-icon class="icon-xs mr-1"></percent-icon>
                                {{ $t('intelligence_section_5_item_1') }}
                            </p>
                            <p class="text-muted">
                                <refresh-cw-icon class="icon-xs mr-1"></refresh-cw-icon>
                                {{ $t('intelligence_section_5_item_2') }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Features End -->
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {
    LayoutIcon,
    LifeBuoyIcon,
    PieChartIcon,
    RssIcon,
    ServerIcon,
    TriangleIcon,
    UserPlusIcon,
    RefreshCwIcon,
    PercentIcon,
    AlertCircleIcon,
    CloudOffIcon
} from "vue-feather-icons";
import Blog from "~/components/Blog";
import WidgetTViewTickers from "~/components/WidgetTViewTickers";

export default {
    layout: 'basic',

    components: {
        CloudOffIcon,
        AlertCircleIcon,
        PieChartIcon,
        TriangleIcon,
        LayoutIcon,
        LifeBuoyIcon,
        ServerIcon,
        UserPlusIcon,
        RssIcon,
        RefreshCwIcon,
        PercentIcon,
        Blog,
        WidgetTViewTickers,
    },

    metaInfo() {
        return {title: this.$t('home')}
    },

    data: () => ({
        title: window.config.appName
    }),

    computed: mapGetters({
        authenticated: 'auth/check'
    })
}
</script>

