<template>
    <div id="privacy-inner">
        <div class="container">
            <h1>{{ $t('privacy_title') }}</h1>
            <div v-html="$t('privacy_content')"></div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {PieChartIcon, TriangleIcon} from "vue-feather-icons";
    import Contact from "~/components/Contact";
    import WidgetTViewTickers from "~/components/WidgetTViewTickers";

    export default {
        layout: 'basic',

        components: {
            PieChartIcon,
            TriangleIcon,
            Contact,
            WidgetTViewTickers,
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>

