<script>
    import ReferralHow from "~/components/ReferralHow";

    /**
     * Index-3
     */
    export default {
        layout: 'basic',
        components: { ReferralHow }
    };
</script>

<template>
    <div id="referral-program-inner">
        <div v-scroll-spy>
            <!-- Hero Start -->
            <section class="hero-3-bg" id="home">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-4 col-lg-5">
                            <h1 class="hero-3-title text-shadow mb-0">{{$t('home_referral_title')}}</h1>
                            <p
                                class="text-muted mt-4 mb-0"
                            >{{$t('home_referral_subtitle')}}</p>
                            <div class="mt-4 mb-5 pb-5">
                                <router-link :to="{name: 'login'}" class="btn btn-primary text-uppercase">
                                    {{$t('get_started')}}
                                </router-link>
                            </div>
                        </div>
                        <div class="col-xl-7 offset-xl-1 col-lg-7 col-md-10">
                            <img src="@/images/referral-program-1.png" alt class="img-fluid d-block mx-auto" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero End -->
            <ReferralHow></ReferralHow>
        </div>
    </div>
</template>

