<template>
    <div>
        <div v-scroll-spy>
            <!-- Hero Start -->
            <section
                class="hero-2-bg"
                :style="{'background-image': 'url(' + require('@/images/section-background.jpg') + ')'}"
                id="home"
            >
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-9 col-lg-10">
                            <div class="text-center">
                                <span class="badge badge-soft-primary text-uppercase">{{$t('trading_automation')}}</span>
                                <h1 class="hero-2-title text-shadow text-light font-weight-bold my-4">
                                    {{$t('home_title')}}
                                </h1>
                                <p class="text-muted w-75 mx-auto mb-5" v-html="$t('home_subtitle')"></p>
                                <router-link :to="{name: 'login'}" class="btn btn-primary">
                                    {{$t('get_started')}}
                                    <i class="mdi mdi-finance ml-2"></i>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero End -->
            <WidgetTViewTickers/>
            <Service/>
            <Features/>
            <Details/>
            <Pricing/>
            <Last30DaysPnl/>
            <Contact/>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {PieChartIcon, TriangleIcon} from "vue-feather-icons";
    import Service from "~/components/Services";
    import Features from "~/components/Features";
    import Details from "~/components/Details";
    import Pricing from "~/components/Pricing";
    import Contact from "~/components/Contact";
    import WidgetTViewTickers from "~/components/WidgetTViewTickers";
    import Last30DaysPnl from "~/components/Last30DaysPnl";

    export default {
        layout: 'basic',

        components: {
            PieChartIcon,
            TriangleIcon,
            Service,
            Features,
            Details,
            Pricing,
            Contact,
            WidgetTViewTickers,
            Last30DaysPnl
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>

