<template>
    <div>
        <div id="title-section">
            <h3>{{$t('add_account')}}</h3>
        </div>
        <div id="dashboard-inner">
            <div class="alert alert-primary" v-html="$t('how_to_create_api_key')"></div>

            <form @submit.prevent="update" @keydown="form.onKeydown($event)">
                <alert-success :form="form" :message="$t('account_added')"/>

                <!-- Name -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                               class="form-control" type="text" name="name">
                        <has-error :form="form" field="name"/>
                    </div>
                </div>

                <!-- Public -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('public_key') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.public_key" :class="{ 'is-invalid': form.errors.has('public_key') }"
                               class="form-control" type="text" name="public_key">
                        <has-error :form="form" field="public_key"/>
                    </div>
                </div>

                <!-- Secret -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('secret_key') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.secret_key"
                               :class="{ 'is-invalid': form.errors.has('secret_key') }" class="form-control"
                               type="text" name="secret_key">
                        <has-error :form="form" field="secret_key"/>
                    </div>
                </div>

                <!-- Secret -->
                <div class="form-group row" v-if="strategies">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('strategy') }}</label>
                    <div class="col-md-7">
                        <select v-model="form.strategy_id"
                                class="form-control"
                                :class="{ 'is-invalid': form.errors.has('strategy_id') }"
                                name=""
                                id="">
                            <template v-for="strategy in strategies">
                                <option :value="strategy.id">{{strategy.name}}</option>
                            </template>
                        </select>
                        <has-error :form="form" field="strategy_id"/>
                    </div>
                </div>

                <!-- Note -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('note') }}</label>
                    <div class="col-md-7">
                    <textarea v-model="form.note"
                              :class="{ 'is-invalid': form.errors.has('note') }" class="form-control"
                              name="note"></textarea>
                        <has-error :form="form" field="note"/>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="form-group row">
                    <div class="col-md-9 ml-md-auto">
                        <v-button :loading="form.busy" type="success">
                            {{ $t('add') }}
                        </v-button>
                    </div>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="how-to-create-api-key" tabindex="-1" aria-labelledby="how-to-create-api-key-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="how-to-create-api-key-label" v-html="$t('how_to_create_api_key_title')"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video controls width="100%" controlsList="nodownload">
                                <source src="/how-to-create-api-key-binance-crypvestor.mp4"
                                        type="video/mp4">
                                Sorry, your browser doesn't support embedded videos.
                            </video>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'
    import axios from 'axios'

    export default {
        scrollToTop: false,

        metaInfo() {
            return {title: this.$t('add_account')}
        },

        data: () => ({
            form: new Form({
                name: '',
                public_key: '',
                secret_key: '',
                strategy_id: '',
                note: ''
            }),
            strategies: [],
        }),

        mounted() {
            this.getStrategies()
        },

        methods: {
            async getStrategies() {
                const {data} = await axios.get('/api/strategies')
                this.strategies = data
            },
            async update() {
                await this.form.post('/api/dashboard/add-account')

                this.form.reset()
            },
        }
    }
</script>
