<template>
    <div>
        <div id="title-section">
            <h3>{{$t('all_accounts')}}</h3>
        </div>
        <div id="dashboard-inner">
            <table class="table">
                <thead>
                <tr>
                    <th>Account</th>
                    <th style="width: 180px;">Strategy</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="clients_sync && clients_sync.length" v-for="(client, index) in clients_sync">
                    <tr class="client-header">
                        <th colspan="3">
                            <div>
                                {{client.name}} {{client.email}} | <i>Accounts: {{client.binance_accounts_count}}</i>
                            </div>
                        </th>
                        <td>
                            <button type="button"
                                    class="btn btn-dark btn-sm"
                                    data-togle="collapse"
                                    aria-expanded="false"
                                    data-toggle="collapse"
                                    v-if="client.binance_accounts_count"
                                    :data-target="`.client-collapse-${index}`">
                                Accounts
                            </button>
                        </td>
                    </tr>
                    <template v-for="(binance_account, position) in client.binance_accounts">
                        <tr :class="['collapse', `client-collapse-${index}`]" :id="`client-collapse-${index}-${position}`">
                            <td>
                                <div>
                                    <div>{{binance_account.name}}</div>
                                    <div><small>{{binance_account.public_key}}</small></div>
                                    <div><small>{{binance_account.secret_key}}</small></div>
                                    <div><small><strong>Created at:</strong> {{getDate(binance_account.created_at)}}</small></div>
                                    <div><small><strong>Note:</strong> {{binance_account.note}}</small></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="d-flex align-items-center">
                                        <select name="" class="form-control" @change="updateBinanceAccount(binance_account, client)" v-model="binance_account.strategy_id">
                                            <template v-for="strategy in strategies">
                                                <option :value="strategy.id" :selected="binance_account.strategy.id === strategy.id">{{strategy.name}}</option>
                                            </template>
                                        </select>
                                        <span class="ml-1" v-tooltip="binance_account.strategy.description">
                                            <fa :icon="['far', 'question-circle']" fixed-width/>
                                        </span>
                                    </div>
                                    <div class="mt-3">
                                        <SwitchButton
                                            v-model="binance_account.active"
                                            name="binance_accounts_active"
                                            @input="updateBinanceAccount(binance_account, client)"
                                            id="has-selectable-queues"
                                            :labels="{ checked: $t('active'), unchecked: $t('inactive') }"
                                            :color="{ checked: '#FC5961', unchecked: '#7D92A3' }"
                                            :fontSize="11"
                                            :width="80"
                                        />
                                    </div>
                                </div>

                            </td>
                            <td>
                                <template v-if="loading_accounts[binance_account.id]">
                                    <fa icon="spinner" fixed-width  class="fa-spin"/>
                                </template>
                                <template v-else>
                                    <div v-if="binance_account.active">
                                        <div class="mb-3" v-if="balances[binance_account.id]" v-html="balances[binance_account.id]"></div>
                                        <button class="btn btn-secondary btn-sm" @click="getBalances(binance_account)">Get Balances</button>
                                    </div>
                                    <div v-else>
                                        Account inactive
                                    </div>
                                </template>
                            </td>
                            <td>
                                <div>
                                    <div @click="deleteBinanceAccount(binance_account.id, client)" class="cursor-pointer remove">
                                        <fa :icon="['fas', 'trash']" fixed-width/> Remove
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                </template>
                <template v-else>
                    <tr>
                        <td colspan="4" align="center">
                            <div>
                                <i>
                                    Please
                                    <router-link :to="{ name: 'dashboard.add-account' }">
                                        add a new account
                                    </router-link>
                                    to start trading.
                                </i>
                            </div>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Swal from "sweetalert2";
    import collect from "collect.js";

    export default {
        middleware: 'admin',

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            strategies: [],
            clients: [],
            binance_accounts: [],
            binance_accounts_api_data: {},
            loading_accounts: {},
            balances: {},
        }),

        computed: {
            clients_sync() {
                return this.clients ?? [];
            }
        },

        mounted() {
            this.getClients()
            this.getStrategies()
        },

        methods: {
            async getClients() {
                const {data} = await axios.get('/api/admin/get-clients-all')
                this.clients = data
                this.clients.forEach(client => {
                    client.binance_accounts.forEach((binance_account) => {
                        this.binance_accounts_api_data[binance_account.id] = this.getBalancesDefaultText();
                        this.balances[binance_account.id] = false
                    })
                })
            },
            async getBinanceAccountsData(binance_account_id) {

                this.loading_accounts[binance_account_id] = true;
                this.binance_accounts_api_data = null;
                this.clients = [...this.clients];

                try {
                    const {data} = await axios.get(`/api/admin/get-client-accounts-api/${binance_account_id}`)
                    this.binance_account_api_data = data
                    this.clients = [...this.clients];
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: this.$t('error_alert_title'),
                            text: data.error,
                            reverseButtons: true,
                            confirmButtonText: this.$t('ok')
                        })
                    }
                } catch (error) {
                    console.log(error)
                    Swal.fire({
                        icon: 'error',
                        title: this.$t('error_alert_title'),
                        text: error.response.data,
                        reverseButtons: true,
                        confirmButtonText: this.$t('ok')
                    })
                }
                this.loading_accounts[binance_account_id] = false
            },

            async getBalances(binance_account) {
                if (!binance_account.active) {
                    this.balances[binance_account.id] = `<div>${this.$t('enable_your_account_to_see_balances')}</div>`
                }

                await this.getBinanceAccountsData(binance_account.id)

                const account_data = this.binance_account_api_data;

                if (account_data && !account_data.error && account_data.usdt_total) {
                    const USDTTotal = account_data.usdt_total
                    const balances_collection = collect(account_data.balances)
                        .map((balance, coin) => {
                            return {
                                coin: coin,
                                available: balance.available
                            }
                        })
                        .values()
                        .sortByDesc('available')
                        .take(5);

                    let balances_html = ''
                    balances_collection.each((balance) => {
                        balances_html += `<div><strong>${balance.coin} Available:</strong> ${balance.available}</div>`
                    })
                    this.balances[binance_account.id] = `
                        <div>${balances_html}</div>
                        <div>...</div>
                        <div><strong>Total Balance Approx:</strong> \$${USDTTotal}</div>
                    `
                } else {
                    this.balances[binance_account.id] = `
                        <div class="text-danger">${this.$t('cannot_connect_api_key')}</div>
                        <small>${this.$t('cannot_connect_api_key_details')}</small>
                    `
                }
                this.resetAccountsData();
            },

            resetAccountsData() {
                this.clients = [...this.clients];
            },

            getDate(date) {
                let d = new Date(date);
                return d.getDate()  + "/" + (d.getMonth()+1) + "/" + d.getFullYear();
            },
            getBalancesFailedText() {
                return `
                        <div class="text-danger">${this.$t('cannot_connect_api_key')}</div>
                        <small>${this.$t('cannot_connect_api_key_details')}</small>
                    `
            },
            getBalancesDefaultText() {
                return `Loading...`
            },

            async getStrategies() {
                const {data} = await axios.get('/api/strategies')
                this.strategies = data
            },

            deleteBinanceAccount(binance_account_id, client) {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: this.$t('details_deleting_an_account'),
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        const {data} = await axios.delete(`/api/dashboard/delete-account/${binance_account_id}`)
                        await this.getClients()
                    }
                })

            },

            async updateBinanceAccount(binance_account, client) {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: this.$t('details_updating_an_account'),
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        try {
                            const payload = {
                                active: binance_account.active,
                                strategy_id: binance_account.strategy_id,
                                binance_account_id: binance_account.id,
                            }
                            const {data} = await axios.post('/api/dashboard/update-account', payload)
                            await this.getClients()
                        } catch (error) {
                            console.error(error.response.data)
                            Swal.fire({
                                icon: 'error',
                                title: this.$t('error_alert_title'),
                                text: error.response ? error.response.data : error,
                                reverseButtons: true,
                                confirmButtonText: this.$t('ok')
                            })
                        }
                    }
                })

            }
        }

    }
</script>

<style scoped lang="scss">
.client-header {
    background: #f0f0f0;
    color: #292838;

    th {
        vertical-align: middle;
    }
}
</style>
