<template>
    <div>
        <div id="title-section">
            <h3>{{$t('analysis')}}</h3>
        </div>
        <div id="dashboard-inner">

            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="card-counter primary">
                        <fa :icon="['fas', 'wallet']"></fa>
                        <span class="count-numbers count-cumulative">$0</span>
                        <span class="count-name">{{$t('cumulative_pnl_2')}}</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter danger">
                        <fa :icon="['fas', 'rocket']"></fa>
                        <span class="count-numbers count-orders">0</span>
                        <span class="count-name">{{$t('order_count')}}</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter success">
                        <fa :icon="['fas', 'crosshairs']"></fa>
                        <span class="count-numbers count-last-symbol"></span>
                        <span class="count-name">{{$t('last_symbol')}}</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        <fa :icon="['fas', 'users']"></fa>
                        <span class="count-numbers">{{binance_accounts.length}}</span>
                        <span class="count-name">{{$t('accounts')}}</span>
                    </div>
                </div>
            </div>

            <div class="row" v-if="!binance_accounts.length">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert">
                        {{$t('no_binance_account_found')}}
                    </div>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-md-12">
                    <div class="form-group" v-if="binance_accounts">
                        <label for="binance-acounts">{{ $t('select_binance_account') }}</label>
                        <select v-model="binance_account_id" class="form-control" id="binance-acounts">
                            <option :value="0">All</option>
                            <template v-for="binance_account in binance_accounts">
                                <option :value="binance_account.id">{{binance_account.name}}</option>
                            </template>
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <graph-pnl-client :binance_account_id="binance_account_id"></graph-pnl-client>
                </div>

                <div class="col-12 mt-3">

                    <div class="form-group" v-if="order_statuses">
                        <label for="binance-acounts">{{ $t('select_status') }}</label>
                        <select v-model="order_status_id" class="form-control" id="order-status">
                            <option :value="0">{{$t('all')}}</option>
                            <template v-for="order_status in order_statuses">
                                <option :value="order_status.id">{{$t(order_status.slug)}}</option>
                            </template>
                        </select>
                    </div>

                    <closed-orders-client :binance_account_id="binance_account_id" :order_status_id="order_status_id"></closed-orders-client>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import ClosedOrdersClient from "./partials/ClosedOrdersClient";
    import GraphPnlClient from "./partials/GraphPnlClient";
    import {mapGetters} from 'vuex'

    export default {
        middleware: 'auth',

        components: {
            ClosedOrdersClient,
            GraphPnlClient
        },

        metaInfo() {
            return {title: this.$t('dashboard')}
        },

        data: () => ({
            binance_account_id: 0,
            order_status_id: 0,
            binance_accounts: [],
            order_statuses: []
        }),

        computed: {
            ...mapGetters({

            })
        },

        mounted() {
            this.getBinanceAccounts();
            this.getOrderStatuses();
        },

        methods: {
            async getBinanceAccounts() {
                const {data} = await axios.get('/api/binance-accounts')
                this.binance_accounts = data
            },
            async getOrderStatuses() {
                const {data} = await axios.get('/api/order-statuses')
                this.order_statuses = data
            },
        }
    }
</script>
