<template>
    <div class="dashboard-container">
        <div class="dashboard-menu">
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                         :src="user.photo_url"
                         alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">{{ user.name }}</span>
                    <span class="user-role">{{ capitalize(user.role) }}</span>
                    <span class="user-status"><fa icon="circle" fixed-width/><span>Online</span></span>
                </div>
            </div>
            <ul class="nav flex-column">
                <li v-for="tab in tabs" :key="tab.route" class="">
                    <router-link :to="{ name: tab.route }" class="nav-link" exact-active-class="active">
                        <fa :icon="tab.icon" fixed-width/>
                        {{ tab.name }}
                    </router-link>
                </li>
            </ul>
        </div>

        <div class="dashboard-content">
            <div class="menu-opener">Menu</div>
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import {Helper} from '~/_helper'

export default {
    layout: 'dashboard',
    middleware: 'auth',

    mounted() {
        $('body').on('click', '.menu-opener', function () {
            $(this).toggleClass('open');
            $('.dashboard-menu').toggleClass('open');
            if ($(this).hasClass('open')) {
                $(this).text('Close Menu')
            } else {
                $(this).text('Menu')
            }
        });
    },

    computed: {
        tabs() {
            let admin_items = [];
            if (this.isAdmin()) {
                admin_items = [
                    {
                        icon: 'users-cog',
                        name: this.$t('all_accounts'),
                        route: 'dashboard.all-accounts'
                    },
                    {
                        icon: 'robot',
                        name: this.$t('trading'),
                        route: 'dashboard.trading'
                    },
                    {
                        icon: 'robot',
                        name: this.$t('trading_logs'),
                        route: 'dashboard.trading-logs'
                    },
                    {
                        icon: 'robot',
                        name: "Futures Income",
                        route: 'dashboard.futures-income'
                    }
                ]
            }

            return [
                {
                    icon: 'coins',
                    name: this.$t('dashboard'),
                    route: 'dashboard.home'
                },
                {
                    icon: 'stream',
                    name: this.$t('my_accounts'),
                    route: 'dashboard.my-accounts'
                },
                {
                    icon: 'key',
                    name: this.$t('dashboard_add_account'),
                    route: 'dashboard.add-account'
                },
                {
                    icon: 'seedling',
                    name: this.$t('referral_program'),
                    route: 'dashboard.referral-program'
                },
                {
                    icon: 'user',
                    name: this.$t('profile'),
                    route: 'dashboard.profile'
                },
                {
                    icon: 'lock',
                    name: this.$t('security'),
                    route: 'dashboard.password'
                },
                ...admin_items
            ]
        },
        ...mapGetters({
            user: 'auth/user'
        })
    },

    methods: {
        capitalize(string) {
            return  Helper.CapitalizeFirstLetterString(string);
        }
    }
}
</script>

<style lang="scss">
@import "../../../sass/_variables.scss";

</style>
