<template>
    <div>
        <div id="title-section">
            <h3>{{$t('my_accounts')}}</h3>
        </div>
        <div id="dashboard-inner">
            <table class="table">
                <thead>
                <tr>
                    <th>Account</th>
                    <th style="width: 180px;">Strategy</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="loading_accounts">
                    <tr>
                        <td colspan="4" align="center" class="mt-3">
                            <fa v-if="loading_accounts" icon="spinner" fixed-width  class="fa-spin"/>
                        </td>
                    </tr>
                </template>

                <template v-else>
                    <template v-if="binance_accounts && binance_accounts.length">
                        <tr v-for="(binance_account, index) in binance_accounts" :key="index">
                            <td>
                                <div>
                                    <div>{{binance_account.name}}</div>
                                    <div><small>{{binance_account.public_key}}</small></div>
                                    <div><small>{{binance_account.secret_key}}</small></div>
                                    <div><small><strong>Created at:</strong> {{getDate(binance_account.created_at)}}</small></div>
                                    <div><small><strong>Note:</strong> {{binance_account.note}}</small></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="d-flex align-items-center">
                                        <select name="" class="form-control" @change="updateBinanceAccount(index)" v-model="binance_account.strategy_id">
                                            <template v-for="strategy in strategies">
                                                <option :value="strategy.id" :selected="binance_account.strategy.id === strategy.id">{{strategy.name}}</option>
                                            </template>
                                        </select>
                                        <span class="ml-1" v-tooltip="binance_account.strategy.description">
                                            <fa :icon="['far', 'question-circle']" fixed-width/>
                                        </span>
                                    </div>
                                    <div class="mt-3">
                                        <SwitchButton
                                            v-model="binance_account.active"
                                            name="binance_accounts_active"
                                            @input="updateBinanceAccount(index)"
                                            id="has-selectable-queues"
                                            :labels="{ checked: $t('active'), unchecked: $t('inactive') }"
                                            :color="{ checked: '#FC5961', unchecked: '#7D92A3' }"
                                            :fontSize="11"
                                            :width="80"
                                        />
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div v-if="binance_account.active">
                                    <div class="mb-3" v-if="balances[binance_account.id]" v-html="balances[binance_account.id]"></div>
                                    <button class="btn btn-secondary btn-sm" @click="getBalances(binance_account)">Get Balances</button>
                                </div>
                                <div v-else>
                                    {{$t('enable_your_account_to_see_balances')}}
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div @click="deleteBinanceAccount(binance_account.id)" class="cursor-pointer remove">
                                        <fa :icon="['fas', 'trash']" fixed-width/> Remove
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="4" align="center">
                                <div>
                                    <i>
                                        Please
                                        <router-link :to="{ name: 'dashboard.add-account' }">
                                            add a new account
                                        </router-link>
                                        to start trading.
                                    </i>
                                </div>
                            </td>
                        </tr>
                    </template>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Swal from "sweetalert2";
    import collect from "collect.js";

    export default {
        middleware: 'auth',

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            strategies: [],
            binance_accounts: [],
            balances: {},
            binance_account_api_data: [],
            loading_accounts: false,
        }),

        computed: {
        },

        mounted() {
            this.getBinanceAccounts()
            this.getStrategies()
        },

        methods: {
            async getBinanceAccounts() {
                const {data} = await axios.get('/api/binance-accounts')
                this.binance_accounts = data
                this.binance_accounts.forEach((account) => {
                    this.balances[account.id] = false
                })
            },
            getDate(date) {
                let d = new Date(date);
                return d.getDate()  + "/" + (d.getMonth()+1) + "/" + d.getFullYear();
            },
            async getBinanceAccountsData(account_id) {
                this.loading_accounts = true;
                try {
                    const {data} = await axios.get(`/api/binance-account/api-data/${account_id}`)
                    this.binance_account_api_data = data
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: this.$t('error_alert_title'),
                            text: data.error,
                            reverseButtons: true,
                            confirmButtonText: this.$t('ok')
                        })
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: this.$t('error_alert_title'),
                        text: error.response.data,
                        reverseButtons: true,
                        confirmButtonText: this.$t('ok')
                    })
                }
                this.loading_accounts = false
            },
            async getBalances(binance_account) {
                if (!binance_account.active) {
                    this.balances[binance_account.id] = `<div>${this.$t('enable_your_account_to_see_balances')}</div>`
                }

                await this.getBinanceAccountsData(binance_account.id)

                const account_data = this.binance_account_api_data;

                if (account_data && !account_data.error && account_data.usdt_total) {
                    const USDTTotal = account_data.usdt_total
                    const balances_collection = collect(account_data.balances)
                        .map((balance, coin) => {
                            return {
                                coin: coin,
                                available: balance.available
                            }
                        })
                        .values()
                        .sortByDesc('available')
                        .take(5);

                    let balances_html = ''
                    balances_collection.each((balance) => {
                        balances_html += `<div><strong>${balance.coin} Available:</strong> ${balance.available}</div>`
                    })
                    this.balances[binance_account.id] = `
                        <div>${balances_html}</div>
                        <div>...</div>
                        <div><strong>Total Balance Approx:</strong> \$${USDTTotal}</div>
                    `
                } else {
                    this.balances[binance_account.id] = `
                        <div class="text-danger">${this.$t('cannot_connect_api_key')}</div>
                        <small>${this.$t('cannot_connect_api_key_details')}</small>
                    `
                }
                this.resetAccountsData();
            },

            async getStrategies() {
                const {data} = await axios.get('/api/strategies')
                this.strategies = data
            },

            resetAccountsData() {
                this.binance_accounts = JSON.parse(JSON.stringify(this.binance_accounts))
            },

            deleteBinanceAccount(binance_account_id) {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: this.$t('details_deleting_an_account'),
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        const {data} = await axios.delete(`/api/dashboard/delete-account/${binance_account_id}`)
                        await this.getBinanceAccounts()
                    }
                })

            },

            async updateBinanceAccount(index) {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: this.$t('details_updating_an_account'),
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        try {
                            const payload = {
                                active: this.binance_accounts[index].active,
                                strategy_id: this.binance_accounts[index].strategy_id,
                                binance_account_id: this.binance_accounts[index].id,
                            }
                            const {data} = await axios.post('/api/dashboard/update-account', payload)
                            await this.getBinanceAccounts()
                        } catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: this.$t('error_alert_title'),
                                text: error.response.data,
                                reverseButtons: true,
                                confirmButtonText: this.$t('ok')
                            })
                        }
                    }
                })
            }
        }
    }
</script>
