<template>
    <div>
        <div id="title-section">
            <h3>{{$t('referral_program')}}</h3>
        </div>
        <div id="dashboard-inner" class="referral-program mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="user-data">
                        <label>{{$t('your_referral_id')}}</label>
                        <h3>{{referral_id}}</h3>
                        <label>{{$t('your_referral_link')}}</label>
                        <h5><a :href="`https://crypvestor.com/register?ref=${referral_id}`">https://crypvestor.com/register?ref={{referral_id}}</a></h5>
                    </div>

                    <h3 class="mt-5"><fa :icon="['fas', 'users']" fixed-width/> {{$t('friend_list')}}</h3>
                    <p>{{$t('all_users_referred')}}</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{{$t('fiends_user_id')}}</th>
                            <th>{{$t('traded')}}</th>
                            <th>{{$t('registration_time')}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="!friends.length">
                            <td colspan="3">{{$t('no_records_found')}}</td>
                        </tr>
                        <tr v-else v-for="friend in friends">
                            <td>#00{{friend.id}}</td>
                            <td>{{friend.traded ? 'Yes' : 'No'}}</td>
                            <td>{{friend.created_at}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="mt-5"><fa :icon="['fas', 'dollar-sign']" fixed-width/> {{$t('earnings')}}</h3>
                    <p>{{$t('90_days_records')}}</p>
                    <table class="table table-bordered mb-5">
                        <thead>
                            <tr>
                                <th>{{$t('order_type')}}</th>
                                <th>{{$t('fiends_user_id')}}</th>
                                <th>{{$t('order_type')}}</th>
                                <th>{{$t('commission_earned')}}</th>
                                <th>{{$t('friends_trade_date')}}</th>
                                <th>{{$t('commission_time')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6">{{$t('no_records_found')}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="mt-5"><fa :icon="['fas', 'clipboard-list']" fixed-width/> {{$t('referral_dashboard_membership_conditions')}}</h3>
                    <p>{{$t('referral_dashboard_how_it_works')}}</p>
                    <ol>
                        <li class="mb-3">
                            {{$t('referral_dashboard_terms_1')}}
                            <ul>
                                <li>{{$t('referral_dashboard_terms_1_1')}}</li>
                                <li>{{$t('referral_dashboard_terms_1_2')}}</li>
                                <li>{{$t('referral_dashboard_terms_1_3')}}</li>
                            </ul>
                            <small><i>{{$t('referral_dashboard_terms_1_small')}}</i></small>
                        </li>
                        <li class="mb-3">
                            {{$t('referral_dashboard_terms_2')}}
                        </li>
                        <li class="mb-3">
                            {{$t('referral_dashboard_terms_3')}}
                        </li>
                        <li class="mb-3">
                            {{$t('referral_dashboard_terms_4')}}
                            <ul>
                                <li>{{$t('referral_dashboard_terms_4_1')}}</li>
                                <li>{{$t('referral_dashboard_terms_4_2')}}</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Swal from "sweetalert2";
    import collect from "collect.js";
    import {mapGetters} from "vuex"

    export default {
        middleware: 'auth',

        metaInfo() {
            return {title: this.$t('referral_program')}
        },

        data: () => ({
            friends: []
        }),

        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            referral_id() {
                return this.user.referral_id_owner
            }
        },

        mounted() {
            this.getFriends();
        },

        methods: {
            async getFriends() {
                try {
                    const {data} = await axios.get('/api/get-friends');
                    this.friends = data
                } catch (e) {

                }
            }
        }
    }
</script>
