<template>
    <div id="trading-logs">
        <div id="title-section">
            <h3>Trading Logs</h3>
        </div>
        <div id="dashboard-inner">
            <card title="Supervisor Status">
                <pre>{{supervisor_status}}</pre>
                <button @click="restartProcesses()" class="btn btn-black">Restart All Background Processes</button>
            </card>
            <card title="Last Price Logged">
                <pre>{{last_prices}}</pre>
            </card>
        </div>
    </div>
</template>

<script>

    import axios from "axios";

    export default {
        scrollToTop: false,

        components: {
        },


        data: () => ({
            logs: [],
            last_prices: null,
            supervisor_status: null
        }),

        mounted() {
            this.getLogs()
            this.getSupervisorStatus()
            this.getLastPrices();
        },

        methods: {
            async getLastPrices() {
                const {data} = await axios.get('/api/admin/get-log-last-prices')
                this.last_prices = data
            },

            async getSupervisorStatus() {
                const {data} = await axios.get('/api/admin/supervisor-status')
                this.supervisor_status = data
            },

            async restartProcesses() {
                this.supervisor_status = 'Restarting...'
                const {data} = await axios.post('/api/admin/restart-processes')
                console.log(data)
                await this.getSupervisorStatus();
            },

            async getLogs() {
                // const {data} = await axios.get('/api/admin/trading-logs')
                // this.logs = data
            },
        }
    }
</script>
