<template>
    <div id="trading-logs">
        <div id="title-section">
            <h3>Futures Income</h3>
        </div>
        <div id="dashboard-inner">
            <card title="Realized PNL" v-if="datacollection">
                <line-chart :series="datacollection.series" :options="datacollection.chartOptions"></line-chart>
            </card>
        </div>
    </div>
</template>

<script>

    import axios from "axios";
    import LineChart from '~/components/LineChart.vue'

    export default {
        scrollToTop: false,

        components: {
            LineChart
        },

        mounted () {
            this.getIncome()
        },

        data: () => ({
            datacollection: false
        }),

        methods: {

            async getIncome () {
                const self = this;
                try {
                    const {data} = await axios.get('/api/admin/futures/income')
                    console.log(data)
                    this.datacollection = {
                        series: [{
                            name: "Income",
                            data: data.series.data
                        }],
                        chartOptions: {
                            chart: {
                                height: 600,
                                type: 'line',
                                zoom: {
                                    enabled: false
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            // stroke: {
                            //     curve: 'smooth'
                            // },
                            title: {
                                text: 'Income trend by transaction',
                                align: 'left'
                            },
                            grid: {
                                row: {
                                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                    opacity: 0.5
                                },
                            },
                            xaxis: {
                                type: 'category',
                                categories: data.datasets,
                                tickPlacement: 'between',
                                labels: {
                                    style: {
                                        colors: [],
                                        fontSize: '9px',
                                        fontFamily: 'Helvetica, Arial, sans-serif',
                                        fontWeight: 400,
                                        cssClass: 'apexcharts-xaxis-label',
                                        maxHeight: 200,
                                    },
                                }
                            },
                            tooltip: {
                                custom: function({ series, seriesIndex, dataPointIndex, w }) {
                                    return `<div style="padding: 5px;">
                                        <div class="type">Type: ${data.series.extra[dataPointIndex].type}</div>
                                        <div class="type">Symbol: ${data.series.extra[dataPointIndex].symbol}</div>
                                        <div class="pnl">Pnl: $${data.series.extra[dataPointIndex].pnl}</div>
                                        <div class="sum">${self.$t('cumulative')}: $${data.series.extra[dataPointIndex].sum}</div>
                                    </div>`
                                }
                            }
                        },
                    }
                }
                catch (e) {
                    console.error(e)
                }


            },
            getRandomInt () {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5
            }
        }
    }
</script>
