<template>
    <div id="trading">
        <div id="title-section">
            <h3>
                {{$t('trading_orders')}}
            </h3>
        </div>
        <div id="dashboard-inner">
            <order-creator></order-creator>

            <div id="tabs-container">
                <ul id="orders" class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#pre-orders" id="pre-orders-tab" class="nav-link active" data-toggle="tab">Queued ({{pre_orders.length}})</a>
                    </li>
                    <li class="nav-item">
                        <a href="#open-orders" id="open-orders-tab" class="nav-link" data-toggle="tab" @click="getSomeData">Open Orders ({{open_orders.length}})</a>
                    </li>
                    <li class="nav-item">
                        <a href="#closed-orders" class="nav-link" data-toggle="tab">Closed Orders ({{closed_orders.length}})</a>
                    </li>
                    <li class="nav-item ml-auto" v-if="showDeleteAllPreOrders && pre_orders.length">
                        <a @click="deleteAllPreOrders" class="text-danger">Delete All Pre-orders</a>
                    </li>
                    <li class="nav-item ml-auto" v-if="showSellAllOrders && open_orders.length">
                        <a @click="sellAllOrders" class="text-danger">Sell All Now</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pre-orders">
                        <pre-orders></pre-orders>
                    </div>
                    <div class="tab-pane fade" id="open-orders">
                        <open-orders></open-orders>
                    </div>
                    <div class="tab-pane fade" id="closed-orders">
                        <div class="form-group mt-3" v-if="clients">
                            <select v-model="binance_account_id" class="form-control" id="binance-acounts">
                                <option :value="0">All</option>
                                <template v-for="client in clients">
                                    <template v-for="account in client.binance_accounts_active">
                                        <option :value="account.id">{{client.name}} | {{account.name}}</option>
                                    </template>
                                </template>
                            </select>
                        </div>
                        <graph-pnl :binance_account_id="binance_account_id"></graph-pnl>

                        <div class="form-group mt-3" v-if="order_statuses">
                            <label for="binance-acounts">{{ $t('select_status') }}</label>
                            <select v-model="order_status_id" class="form-control" id="order-status">
                                <option :value="0">{{$t('all')}}</option>
                                <template v-for="order_status in order_statuses">
                                    <option :value="order_status.id">{{$t(order_status.slug)}}</option>
                                </template>
                            </select>
                        </div>
                        <closed-orders :binance_account_id="binance_account_id" :order_status_id="order_status_id"></closed-orders>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'
    import axios from 'axios'
    import OrderCreator from './partials/OrderCreator'
    import PreOrders from './partials/PreOrders'
    import OpenOrders from './partials/OpenOrders'
    import ClosedOrders from './partials/ClosedOrders'
    import {mapGetters} from "vuex";
    import Swal from "sweetalert2";
    import GraphPnl from "./partials/GraphPnl";

    export default {
        scrollToTop: false,

        components: {
            OrderCreator,
            PreOrders,
            OpenOrders,
            ClosedOrders,
            GraphPnl
        },

        computed: mapGetters({
            pre_orders: 'pre-orders/all',
            open_orders: 'open-orders/all',
            closed_orders: 'closed-orders/all',
            clients: 'clients/all'
        }),

        data: () => ({
            form: new Form({
                name: '',
                public_key: '',
                secret_key: '',
                strategy_id: '',
                note: ''
            }),
            strategies: [],
            showDeleteAllPreOrders: true,
            showSellAllOrders: false,
            binance_account_id: 0,
            order_status_id: 0,
            order_statuses: []
        }),

        mounted() {
            $(document).ready(() => {
                $('a[data-toggle="tab"]').on('shown.bs.tab', (e) => {
                    const activeTab = $(e.target).text(); // Get the name of active tab
                    const previousTab = $(e.relatedTarget).text(); // Get the name of previous tab
                    $(".active-tab span").html(activeTab);
                    $(".previous-tab span").html(previousTab);
                    this.showDeleteAllPreOrders = $(e.target).attr('id') === 'pre-orders-tab';
                    this.showSellAllOrders = $(e.target).attr('id') === 'open-orders-tab';
                });
            });
            this.getStrategies()
            this.getOrderStatuses();
        },

        methods: {
            getSomeData() {
                this.$store.dispatch('open-orders/getOrderGroups')
            },
            async getOrderStatuses() {
                const {data} = await axios.get('/api/order-statuses')
                this.order_statuses = data
            },
            sellAllOrders(event) {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: 'Are you Sure you want to sell all the open orders now?',
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        try {
                            event.target.innerHTML = 'Creating background tasks...'
                            const {data} = await axios.post(`/api/admin/open-orders/sell-all`)
                            event.target.innerHTML = 'Please wait...'
                            await this.$store.dispatch('open-orders/getOpenOrders')
                        } catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'There where an error.',
                                text: error,
                                confirmButton: this.$t('close'),
                                confirmButtonClass: 'btn btn-primary',
                                buttonsStyling: false
                            })
                        }
                        event.target.innerHTML = 'Sell All Now'
                    }
                })
            },
            deleteAllPreOrders() {
                Swal.fire({
                    icon: 'warning',
                    title: this.$t('are_you_sure'),
                    text: 'Are you Sure you want to remove all the pre-orders?',
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        try {
                            const {data} = await axios.post(`/api/admin/pre-orders/delete-all`)
                            await this.$store.dispatch('pre-orders/getPreOrders')
                        } catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'There where an error.',
                                text: error,
                                confirmButton: this.$t('close'),
                                confirmButtonClass: 'btn btn-primary',
                                buttonsStyling: false
                            })
                        }
                    }
                })
            },
            async getStrategies() {
                const {data} = await axios.get('/api/strategies')
                this.strategies = data
            },
            async update() {
                await this.form.post('/api/dashboard/add-account')

                this.form.reset()
            },
        }
    }
</script>
