<script>
    import {ActivityIcon, CrosshairIcon, SunIcon, TrendingUpIcon} from "vue-feather-icons";

    export default {
        components: {
            SunIcon,
            TrendingUpIcon,
            ActivityIcon,
            CrosshairIcon
        }
    };
</script>
<template>
    <!-- Blog start -->
    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">{{$t('intelligence_experience_title')}}</h3>
                        <p class="text-muted font-size-15">
                            {{$t('intelligence_experience_subtitle')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="blog-box mb-4 mb-lg-0">
                        <img src="../../images/intelligence-1.png" alt class="img-fluid d-block mx-auto rounded"/>
                        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
                            <li class="list-inline-item mr-3">
                                <activity-icon class="icon-size-15 icon mr-1"></activity-icon>
                                {{$t('intelligence_experience_item_1_title')}}
                            </li>
                        </ul>
                        <a href="javascript: void(0);" class="text-dark font-weight-bold h5">
                            {{$t('intelligence_experience_item_1_subtitle')}}
                        </a>
                        <p class="text-muted font-size-15">
                            {{$t('intelligence_experience_item_1_paragraph')}}
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="blog-box blog-box mb-4 mb-lg-0">
                        <img src="../../images/intelligence-2.png" alt class="img-fluid d-block mx-auto rounded"/>
                        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
                            <li class="list-inline-item mr-3">
                                <crosshair-icon class="icon-size-15 icon mr-1"></crosshair-icon>
                                {{$t('intelligence_experience_item_2_title')}}
                            </li>
                        </ul>
                        <a href="javascript: void(0);" class="text-dark font-weight-bold h5">
                            {{$t('intelligence_experience_item_2_subtitle')}}
                        </a>
                        <p class="text-muted font-size-15">
                            {{$t('intelligence_experience_item_2_paragraph')}}
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="blog-box blog-box mb-4 mb-lg-0">
                        <img src="../../images/intelligence-3.png" alt class="img-fluid d-block mx-auto rounded"/>
                        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
                            <li class="list-inline-item mr-3">
                                <trending-up-icon class="icon-size-15 icon mr-1"></trending-up-icon>
                                {{$t('intelligence_experience_item_3_title')}}
                            </li>
                        </ul>
                        <a href="javascript: void(0);" class="text-dark font-weight-bold h5">
                            {{$t('intelligence_experience_item_3_subtitle')}}
                        </a>
                        <p class="text-muted font-size-15">
                            {{$t('intelligence_experience_item_3_paragraph')}}
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="blog-box blog-box mb-4 mb-lg-0">
                        <img src="../../images/intelligence-4.png" alt class="img-fluid d-block mx-auto rounded"/>
                        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
                            <li class="list-inline-item mr-3">
                                <sun-icon class="icon-size-15 icon mr-1"></sun-icon>
                                {{$t('intelligence_experience_item_4_title')}}
                            </li>
                        </ul>
                        <a href="javascript: void(0);" class="text-dark font-weight-bold h5">
                            {{$t('intelligence_experience_item_4_subtitle')}}
                        </a>
                        <p class="text-muted font-size-15">
                            {{$t('intelligence_experience_item_4_paragraph')}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog End -->
</template>
