<script>
    import {
        SendIcon,
        MailIcon,
        LinkIcon,
        PhoneCallIcon,
        ClockIcon,
        MapPinIcon
    } from "vue-feather-icons";
    import Form from 'vform'
    import Swal from 'sweetalert2'
    import { mapGetters } from 'vuex'

    export default {
        components: {
            SendIcon,
            MailIcon,
            LinkIcon,
            PhoneCallIcon,
            ClockIcon,
            MapPinIcon
        },

        data() {
            return {
                form: new Form({
                    name: null,
                    email: null,
                    country: null,
                    message: null,
                })
            }
        },

        methods: {
            async update() {
                //console.log(this.form);
                try {
                    await this.form.post('/api/contact')
                    if (this.form.successful) {
                        //console.log(this.form)
                        // show message!!.
                        Swal.fire({
                            icon: 'success',
                            title: this.$t('message_sent'),
                            text: this.$t('contact_message'),
                            confirmButton: this.$t('close'),
                            confirmButtonClass: 'btn-primary',
                            buttonsStyling: false
                        })
                        this.form.reset()
                    }
                } catch (error) {
                    console.error('Check your data', error)
                }
            }
        }
    };
</script>
<template>
    <!-- Contact Us Start -->
    <section class="section bg-light" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">{{$t('contact_title')}}</h3>
                        <p class="text-muted font-size-15">
                            {{$t('contact_subtitle')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="custom-form mb-5 mb-lg-0">
                        <div id="message"></div>
                        <form name="contact-form" id="contact-form" @submit.prevent="update" @keydown="form.onKeydown($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{$t('name')}}*</label>
                                        <input
                                            v-model="form.name"
                                            :class="{ 'is-invalid': form.errors.has('name') }"
                                            class="form-control"
                                            id="name"
                                            type="text"
                                            name="last_name"
                                            :placeholder="$t('name') + '*'"
                                        />
                                        <has-error :form="form" field="name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">{{$t('email_address')}}*</label>
                                        <input
                                            v-model="form.email"
                                            :class="{ 'is-invalid': form.errors.has('email') }"
                                            class="form-control"
                                            type="email"
                                            name="email"
                                            id="email"
                                            :placeholder="$t('email') + '*'"
                                        />
                                        <has-error :form="form" field="email" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="country">{{$t('country')}}*</label>
                                        <input
                                            v-model="form.country"
                                            :class="{ 'is-invalid': form.errors.has('country') }"
                                            class="form-control"
                                            id="country"
                                            type="text"
                                            name="phone"
                                            :placeholder="$t('type_your_country') + '*'"
                                        />
                                        <has-error :form="form" field="country" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="comments">{{$t('message')}}*</label>
                                        <textarea
                                            v-model="form.message"
                                            :class="{ 'is-invalid': form.errors.has('message') }"
                                            name="message"
                                            class="form-control"
                                            :placeholder="$t('type_message') + '*'"
                                            :rows="3"
                                            id="comments"
                                            rows="4"
                                            :max-rows="6"
                                        ></textarea>
                                        <has-error :form="form" field="message" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <v-button :loading="form.busy" class="btn btn-primary">
                                        {{$t('send_message')}}
                                        <send-icon class="icon-size-15 ml-2 icon"></send-icon>
                                    </v-button>
                                    <div id="simple-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-detail text-muted ml-lg-5">
                        <p class>
                            <mail-icon class="icon-xs icon mr-1"></mail-icon>
                            :
                            <span>hola@crypvestor.com</span>
                        </p>
                        <p class>
                            <LinkIcon class="icon-xs icon mr-1"></LinkIcon>
                            :
                            <span>www.crypvestor.com</span>
                        </p>
                        <p class>
                            <MapPinIcon class="icon-xs icon mr-1"></MapPinIcon>
                            :
                            <span>8 The Green, Dover, Delaware, USA.</span>
                        </p>
                        <p class>
                            <MapPinIcon class="icon-xs icon mr-1"></MapPinIcon>
                            :
                            <span>Nicaragua 4817, Ciudad de Buenos Aires, Argentina.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us End -->
</template>
