<template>
    <!-- Details Start -->
    <section class="section" id="details">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">
                            {{$t('home_features_section3_title')}}
                        </h3>
                        <p class="text-muted font-size-15">
                            {{$t('home_features_section3_item2')}}
                        </p>
                        <p>
                            {{$t('home_features_section3_item3')}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details End -->
</template>
