<template>
    <!-- Faq Start -->
    <section
        class="section bg-light mt-5  feather-bg-img"
        :style="{'background-image': 'url(' + require('../../images/features-bg-img.png') + ')'}"
        id="features"
    >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">{{$t('faq_title')}}</h3>
                        <p class="text-muted font-size-15">
                            {{$t('faq_subtitle')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="row accordion-section">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse0" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_1')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse0" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading0">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_1')}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse1" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_2')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading1">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_2')}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse2" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_3')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading2">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_3')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse3" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_4')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading3">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_4_1')}}
                                    </p>
                                    <p>
                                        {{$t('faq_answer_4_2')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse4" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_5')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading4">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_5')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse5" aria-expanded="true"
                                       aria-controls="collapse0">
                                        {{$t('faq_question_6')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading5">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_6')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse6" aria-expanded="true"
                                       aria-controls="collapse6">
                                        {{$t('faq_question_7')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading6">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_7')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse7" aria-expanded="true"
                                       aria-controls="collapse7">
                                        {{$t('faq_question_8')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading7">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_8')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse8" aria-expanded="true"
                                       aria-controls="collapse8">
                                        {{$t('faq_question_9')}}
                                        <chevron-down-icon class=" icon mr-1 text-success"></chevron-down-icon>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading7">
                                <div class="panel-body px-3 mb-4">
                                    <p>
                                        {{$t('faq_answer_9')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq End -->
</template>


<script>
    import {mapGetters} from 'vuex'
    import {ChevronDownIcon} from "vue-feather-icons";
    import Faqs from "~/components/Faqs";
    import WidgetTViewTickers from "~/components/WidgetTViewTickers";

    export default {
        layout: 'basic',

        components: {
            ChevronDownIcon,
            Faqs,
            WidgetTViewTickers,
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>
