<script>
    import {
        LayoutIcon,
        LifeBuoyIcon,
        ServerIcon,
        RssIcon
    } from "vue-feather-icons";

    export default {
        components: {LayoutIcon, LifeBuoyIcon, ServerIcon, RssIcon}
    };
</script>

<template>
    <div>
        <!-- Features Start -->
        <section
            class="section bg-light feather-bg-img"
            :style="{'background-image': 'url(' + require('../../images/features-bg-img.png') + ')'}"
            id="features"
        >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h3 class="title mb-3">{{$t('home_features_title')}}</h3>
                            <p class="text-muted font-size-15">
                                {{$t('home_features_subtitle')}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="mb-4 mb-lg-0">
                            <img src="../../images/from-the-earth.png" alt class="image-responsive max-80 img-fluid d-block mx-auto"/>
                        </div>
                    </div>

                    <div class="col-lg-5 offset-lg-1">
                        <p class="font-weight-medium text-uppercase mb-2">
                            <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> {{$t('home_features_section1_head_title')}}
                        </p>
                        <h3 class="font-weight-semibold line-height-1_4 mb-4">
                            <b>{{$t('home_features_subtitle')}}</b>
                        </h3>
                        <p class="text-muted font-size-15 mb-4">
                            {{$t('home_features_section1_item1')}}
                        </p>
                        <p class="text-muted mb-2">
                            <layout-icon class="icon-xs mr-1"></layout-icon>
                            {{$t('home_features_section1_item2')}}
                        </p>
                        <p class="text-muted">
                            <life-buoy-icon class="icon-xs mr-1"></life-buoy-icon>
                            {{$t('home_features_section1_item3')}}
                        </p>
                        <div class="mt-5">
                            <router-link :to="{name: 'intelligence'}" class="btn btn-primary mr-2">
                                {{$t('learn_more')}}
                            </router-link>
                            <router-link :to="{name: 'login'}" class="btn btn-soft-primary mr-2">
                                {{$t('start_now')}}
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="section feather-bg-img"
            :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
        >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <p class="font-weight-medium text-uppercase mb-2">
                            <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> {{$t('home_features_section2_head_title')}}
                        </p>
                        <h3 class="font-weight-semibold line-height-1_4 mb-4">
                            <b>{{$t('home_features_section2_title')}}</b>
                        </h3>
                        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
                        <p class="text-muted font-size-15 mb-4">
                            {{$t('home_features_section2_item1')}}
                        </p>
                        <p class="text-muted mb-2">
                            <server-icon class="icon-xs mr-1"></server-icon>
                            {{$t('home_features_section2_item2')}}
                        </p>
                        <p class="text-muted">
                            <rss-icon class="icon-xs mr-1"></rss-icon>
                            {{$t('home_features_section2_item3')}}
                        </p>
                        <div class="mt-5">
                            <router-link :to="{name: 'contact-us'}" class="btn btn-primary mr-2">
                                {{$t('contact_us')}}
                            </router-link>
                            <router-link :to="{name: 'login'}" class="btn btn-soft-primary mr-2">
                                {{$t('start_now')}}
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="mt-4 mt-lg-0">
                            <img src="../../images/to-the-moon.svg" alt class="img-fluid d-block mx-auto"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features End -->
    </div>
</template>
