<script>
    import {
        FacebookIcon,
        TwitterIcon,
        InstagramIcon,
        LinkedinIcon
    } from "vue-feather-icons";

    export default {
        components: {
            FacebookIcon,
            TwitterIcon,
            InstagramIcon,
            LinkedinIcon
        }
    };
</script>

<template>
    <div>
        <!-- Footer Start -->
        <section class="footer" style="background-image: url(../../images/footer-bg.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-5">
                            <img src="../../images/logo.svg" alt class height="50"/>
                            <p class="text-white-50 my-4 font-size-15">
                                {{$t('home_strategies_subtitle')}}
                            </p>
                            <ul class="list-inline footer-social-icon-content">
                                <li class="list-inline-item mr-4">
                                    <a href="https://www.facebook.com/CrypvestorInvestment" class="footer-social-icon">
                                        <facebook-icon></facebook-icon>
                                    </a>
                                </li>
<!--                                <li class="list-inline-item mr-4">-->
<!--                                    <a href="javascript: void(0);" class="footer-social-icon">-->
<!--                                        <twitter-icon></twitter-icon>-->
<!--                                    </a>-->
<!--                                </li>-->
                                <li class="list-inline-item mr-4">
                                    <a href="https://www.instagram.com/crypvestorok/" class="footer-social-icon">
                                        <instagram-icon></instagram-icon>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/company/crypvestor/?viewAsMember=true" class="footer-social-icon">
                                        <linkedin-icon></linkedin-icon>
                                    </a>
                                </li>
                            </ul>

                            <div class="partnerships">
                                <img src="../../images/binance-logo.png" alt="Binance Partners">
                                <img src="../../images/bsv-asociacion-logo.svg" alt="BSV Association">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="text-white text-uppercase mb-4">{{$t('programs')}}</h6>
                                <ul class="list-unstyled footer-sub-menu">
                                    <li>
                                        <router-link :to="{name: 'intelligence'}" class="footer-link">
                                            {{$t('home_strategies_title')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'login'}" class="footer-link">
                                            {{$t('trainings')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'referral-program'}" class="footer-link">
                                            {{$t('referral_program')}}
                                        </router-link>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-white text-uppercase mb-3">{{$t('strategies')}}</h6>
                                <ul class="list-unstyled footer-sub-menu">
                                    <li>
                                        <router-link :to="{name: 'login'}" class="footer-link">
                                            Divide & Conquer
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'login'}" class="footer-link">
                                            Ride The Trend
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'login'}" class="footer-link">
                                            To The Moon
                                        </router-link>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-white text-uppercase mb-3">{{$t('support')}}</h6>
                                <ul class="list-unstyled footer-sub-menu">
                                    <li>
                                        <router-link :to="{name: 'contact-us'}" class="footer-link">
                                            {{$t('contact_us')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'login'}" class="footer-link">
                                            {{$t('get_started')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'faq'}" class="footer-link">
                                            {{$t('faq')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'terms-conditions'}" class="footer-link">
                                            {{$t('terms_conditions')}}
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'privacy'}" class="footer-link">
                                            {{$t('privacy')}}
                                        </router-link>
                                    </li>
                                </ul>

                                <div class="reviews">
                                    <a href="https://www.g2.com/products/crypvestor/reviews" target="_blank">
                                        <img src="../../images/g2-reviews.jpeg" alt="G2 Reviews | Crypvestor" class="g2-reviews">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-alt py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p
                                class="text-white-50 font-size-15 mb-0"
                            >{{ new Date().getFullYear()}} © Crypvestor. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
</template>
