<template>
    <!-- Pricing Start -->
    <section class="section bg-light" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">{{$t('home_pnl_title')}}</h3>
                        <p class="text-muted font-size-15">
                            {{$t('home_pnl_subtitle')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-3">
                    <line-chart v-if="dataCollection" :series="dataCollection.series" :options="dataCollection.chartOptions"></line-chart>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-5">
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th>{{$t('traded_capital')}}</th>
                            <th>{{$t('symbol')}}</th>
                            <th>{{$t('start_date')}}</th>
                            <th>{{$t('end_date')}}</th>
                            <th class="text-right">{{$t('trade_profit')}}</th>
                            <th class="text-right">{{$t('gross_profit')}}</th>
                            <th class="text-right">{{$t('cumulative_gross_profit')}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="order in table_data">
                            <tr>
                                <td>{{order.traded_capital}}%</td>
                                <td>{{order.symbol}}</td>
                                <td>{{order.start_date}}</td>
                                <td>{{order.end_date}}</td>
                                <td class="text-right">{{order.trade_profit.toFixed(2)}}%</td>
                                <td class="text-right">{{order.gross_profit.toFixed(2)}}%</td>
                                <td class="text-right">{{order.cumulative_gross_profit.toFixed(2)}}%</td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</template>


<script>
    import axios from "axios";
    import LineChart from '~/components/LineChart.vue'
    export default {
        name: "Last30DaysPnl",

        components: {
            LineChart
        },

        data() {
            return {
                table_data: [],
                graph_data: {}
            }
        },

        mounted() {
            this.getPnl()
        },

        computed: {
            dataCollection() {
                const self = this
                if (!this.graph_data.series || !this.graph_data.datasets) {
                    return false;
                }
                return {
                    series: [{
                        name: "Income Pnl",
                        data: this.graph_data.series.data
                    }],
                    chartOptions: {
                        chart: {
                            type: "area",
                            height: 300,
                            foreColor: "#999",
                            stacked: true,
                            dropShadow: {
                                enabled: true,
                                enabledSeries: [0],
                                top: -2,
                                left: 2,
                                blur: 5,
                                opacity: 0.06
                            }
                        },
                        colors: ['#0090FF'],
                        stroke: {
                            curve: "smooth",
                            width: 5
                        },
                        dataLabels: {
                            enabled: false
                        },
                        series: [{
                            name: 'Income Pnl',
                            data: this.graph_data.series.data
                        }],
                        markers: {
                            size: 0,
                            strokeColor: "#fff",
                            strokeWidth: 3,
                            strokeOpacity: 1,
                            fillOpacity: 1,
                            hover: {
                                size: 6
                            }
                        },
                        xaxis: {
                            type: 'category',
                            categories: this.graph_data.datasets,
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            }
                        },
                        yaxis: {
                            labels: {
                                offsetX: 14,
                                offsetY: -5
                            },
                            tooltip: {
                                enabled: true
                            }
                        },
                        grid: {
                            padding: {
                                left: -5,
                                right: 5
                            }
                        },
                        tooltip: {
                            custom: function({ series, seriesIndex, dataPointIndex, w }) {
                                return `<div style="padding: 5px;">
                                        <div class="pnl">Trade Profit: ${self.graph_data.series.extra[dataPointIndex].trade_profit}%</div>
                                        <div class="roe">Gross Profit: ${self.graph_data.series.extra[dataPointIndex].gross_profit}%</div>
                                        <div class="sum">${self.$t('cumulative')}: ${self.graph_data.series.extra[dataPointIndex].cumulative_gross_profit}%</div>
                                    </div>`
                            }
                        },
                        legend: {
                            position: 'top',
                            horizontalAlign: 'left'
                        },
                        fill: {
                            type: "solid",
                            fillOpacity: 0.7
                        }
                    },
                }
            }
        },

        methods: {
            async getPnl () {
                try {
                    const {data} = await axios.get('/api/pnl-last-30-days/strategy-1')
                    console.log(data)
                    this.table_data = data.table_data
                    this.graph_data = data.graph_data
                } catch (e) {
                    console.error(e)
                }
            }
        }

    }
</script>

<style scoped>

</style>
