<template>
    <div id="chart" v-if="series && options">
        <vue-apex-charts type="line" height="350" :options="options" :series="series"></vue-apex-charts>
    </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
    name: "LineChart",

    scrollToTop: false,

    components: {
        VueApexCharts,
    },

    props: {
        series: {
            type: Array,
            default: null
        },
        options: {
            type: Object,
            default: null
        },
    },

    mounted() {
    },

    data: () => ({}),

    methods: {}
}
</script>

<style scoped>

</style>
