<script>
    import {
        FacebookIcon,
        TwitterIcon,
        InstagramIcon,
        LinkedinIcon,
        ArrowRightCircleIcon
    } from "vue-feather-icons";
    import {mapGetters} from "vuex";
    import LocaleDropdown from './LocaleDropdown'

    export default {
        props: {
            navbarcolor: {
                type: Boolean,
                default: false
            }
        },
        components: {
            FacebookIcon,
            TwitterIcon,
            InstagramIcon,
            LinkedinIcon,
            ArrowRightCircleIcon,
            LocaleDropdown
        },
        computed: mapGetters({
            user: 'auth/user'
        }),
        mounted: () => {
            window.onscroll = function () {
                onwindowScroll();
            };
            var navbar = document.getElementById("navbar");

            function onwindowScroll() {
                if (
                    document.body.scrollTop > 50 ||
                    document.documentElement.scrollTop > 50
                ) {
                    navbar.classList.add("nav-sticky");
                } else {
                    navbar.classList.remove("nav-sticky");
                }
            }
        },
        methods: {
            /**
             * Toggle menu
             */
            toggleMenu() {
                document.getElementById("navbarCollapse").classList.toggle("show");
            },

            async logout () {
                // Log out the user.
                await this.$store.dispatch('auth/logout')

                // Redirect to login.
                this.$router.push({ name: 'login' })
            }
        }
    };
</script>

<template>
    <!--Navbar Start-->
    <nav
        class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark"
        id="navbar"
        :class="{'navbar-light': navbarcolor === true}"
    >
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="/">
                <img src="../../images/logo.svg" alt class="logo-light" height="50"/>
                <img src="../../images/logo.svg" alt class="logo-dark" height="50"/>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                @click="toggleMenu()"
                aria-label="Toggle navigation"
            >
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                    <li class="nav-item">
                        <router-link :to="{name: 'welcome'}" class="nav-link text-light">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'intelligence'}" class="nav-link text-light">{{ $t('intelligent_investment') }}</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'faq'}" class="nav-link text-light">{{ $t('faq') }}</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'contact-us'}" class="nav-link text-light">{{ $t('contact_us') }}</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-center">
                    <locale-dropdown/>
                    <!-- Authenticated -->
                    <li v-if="user" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light"
                           href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >
                            <img :src="user.photo_url" class="rounded-circle profile-photo mr-1" style="max-height: 32px">
                            {{ user.name }}
                        </a>
                        <div class="dropdown-menu">
                            <router-link :to="{ name: 'dashboard.home' }" class="dropdown-item pl-3">
                                <fa icon="coins" fixed-width/>
                                {{ $t('dashboard') }}
                            </router-link>
                            <router-link :to="{ name: 'dashboard.profile' }" class="dropdown-item pl-3">
                                <fa icon="cog" fixed-width/>
                                {{ $t('settings') }}
                            </router-link>

                            <div class="dropdown-divider"/>
                            <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                                <fa icon="sign-out-alt" fixed-width/>
                                {{ $t('logout') }}
                            </a>
                        </div>
                    </li>
                    <!-- Guest -->
                    <template v-else>
                        <li class="nav-item">
                            <router-link :to="{ name: 'login' }" class="nav-link text-light" active-class="active">
                                {{ $t('login') }}
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'register' }" class="nav-link text-light" active-class="active">
                                {{ $t('register') }}
                            </router-link>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</template>

