<template>
    <!-- Pricing Start -->
    <section class="section bg-light" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">{{$t('home_strategies_title')}}</h3>
                        <p class="text-muted font-size-15">
                            {{$t('home_strategies_subtitle')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="pricing-box rounded text-center p-4">
                        <div class="pricing-icon-bg my-4">
                            <i class="mdi mdi-chess-king h1"></i>
                        </div>
                        <h4 class="title mb-3">{{$t('home_strategies_item1_title')}}</h4>
                        <h1 class="font-weight-bold mb-0">
                            <b>
                                <sup class="h4 mr-2 font-weight-bold">%</sup>6
                            </b>
                        </h1>
                        <p class="text-muted font-weight-semibold">{{$t('home_strategies_item1_days')}}</p>
                        <ul class="list-unstyled pricing-item mb-4">
                            <li class="text-muted">{{$t('home_strategies_item1_li1')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item1_li2')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item1_li3')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item1_li4')}}</li>
                        </ul>
                        <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">{{$t('start_now')}}</a>
                        <div class="mt-4">
                            <div class="hero-bottom-img">
                                <img
                                    src="../../images/pricing-bottom-bg.png"
                                    alt
                                    class="img-fluid d-block mx-auto"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-box rounded text-center p-4">
                        <div class="pricing-icon-bg my-4">
                            <i class="mdi mdi-trending-up h1"></i>
                        </div>
                        <h4 class="title mb-3">{{$t('home_strategies_item2_title')}}</h4>
                        <h1 class="font-weight-bold mb-0">
                            <b>
                                <sup class="h4 mr-2 font-weight-bold">%</sup>8
                            </b>
                        </h1>
                        <p class="text-muted font-weight-semibold">{{$t('home_strategies_item2_days')}}</p>
                        <ul class="list-unstyled pricing-item mb-4">
                            <li class="text-muted">{{$t('home_strategies_item2_li1')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item2_li2')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item2_li3')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item2_li4')}}</li>
                        </ul>
                        <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">{{$t('start_now')}}</a>
                        <div class="mt-4">
                            <div class="hero-bottom-img">
                                <img
                                    src="../../images/pricing-bottom-bg.png"
                                    alt
                                    class="img-fluid d-block mx-auto"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-box rounded text-center p-4">
                        <div class="pricing-icon-bg my-4 custom">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M22 23V21C20.59 21.05 19.22 20.9 18 20C16.24 21.25 13.77 21.25 12 20C10.23 21.25 7.76 21.25 6 20C4.78 20.9 3.41 21.05 2 21V23C3.37 23.05 4.78 22.94 6 22.25C7.84 23.25 10.15 23.25 12 22.25C13.85 23.25 16.16 23.25 18 22.25C19.22 22.94 20.63 23.05 22 23M20.5 11.97V9.95C18.74 9.96 17 9 16.18 7.41L15.29 5.86C15 5.4 14.55 5.11 14.07 4.97L8.5 3.94L5 6.38L6.13 8L8.95 6.1L10.97 6.43L8.81 7.88C8.21 8.29 7.88 9 8 9.71L8.53 12.81C7.12 12.26 3.21 11 3 13.23C3.36 15.67 6.07 17.32 8.06 18.82C9.5 19.29 11.06 18.58 12 17.46C13.32 19.16 15.89 19.46 17.5 18C17.03 17.58 16.5 17.15 16 16.8V12.95L12.19 9.95L14.44 8.44C15.62 10.59 18 12 20.5 11.97M14 14V15.47C14 15.43 11.66 14.16 11.81 14.24L10.73 13.7L10.31 11.08L14 14M19 3.5C19 4.61 18.11 5.5 17 5.5S15 4.61 15 3.5 15.9 1.5 17 1.5 19 2.4 19 3.5Z" />
                            </svg>
                        </div>
                        <h4 class="title mb-3">{{$t('home_strategies_item3_title')}}</h4>
                        <h1 class="font-weight-bold mb-0">
                            <b>
                                <sup class="h4 mr-2 font-weight-bold">%</sup>10
                            </b>
                        </h1>
                        <p class="text-muted font-weight-semibold">{{$t('home_strategies_item3_days')}}</p>
                        <ul class="list-unstyled pricing-item mb-4">
                            <li class="text-muted">{{$t('home_strategies_item3_li1')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item3_li2')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item3_li3')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item3_li4')}}</li>
                        </ul>
                        <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">{{$t('start_now')}}</a>
                        <div class="mt-4">
                            <div class="hero-bottom-img">
                                <img
                                    src="../../images/pricing-bottom-bg.png"
                                    alt
                                    class="img-fluid d-block mx-auto"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pricing-box rounded text-center p-4">
                        <div class="pricing-icon-bg my-4">
                            <i class="mdi mdi-weather-night h1"></i>
                        </div>
                        <h4 class="title mb-3">{{$t('home_strategies_item4_title')}}</h4>
                        <h1 class="font-weight-bold mb-0">
                            <b>
                                <sup class="h4 mr-2 font-weight-bold">%</sup>12
                            </b>
                        </h1>
                        <p class="text-muted font-weight-semibold">{{$t('home_strategies_item4_days')}}</p>
                        <ul class="list-unstyled pricing-item mb-4">
                            <li class="text-muted">{{$t('home_strategies_item4_li1')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item4_li2')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item4_li3')}}</li>
                            <li class="text-muted">{{$t('home_strategies_item4_li4')}}</li>
                        </ul>
                        <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">{{$t('start_now')}}</a>
                        <div class="mt-4">
                            <div class="hero-bottom-img">
                                <img
                                    src="../../images/pricing-bottom-bg.png"
                                    alt
                                    class="img-fluid d-block mx-auto"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->
</template>
