<script>
    import {
        DiscIcon,
        AlertCircleIcon,
        LifeBuoyIcon,
        ServerIcon,
        RssIcon
    } from "vue-feather-icons";

    export default {
        components: {DiscIcon, AlertCircleIcon, LifeBuoyIcon, ServerIcon, RssIcon}
    };
</script>

<template>
    <div>

        <section
            class="section feather-bg-img"
            :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
        >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <p class="font-weight-medium text-uppercase mb-2">
                            <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> {{$t('home_referral_section1_head_title')}}
                        </p>
                        <h3 class="font-weight-semibold line-height-1_4 mb-4">
                            <b>{{$t('home_referral_section1_title')}}</b>
                        </h3>
                        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
                        <p class="text-muted font-size-15 mb-4">
                            {{$t('home_referral_section1_item1')}}
                        </p>
                        <p class="text-muted mb-2">
                            <server-icon class="icon-xs mr-1"></server-icon>
                            {{$t('home_referral_section1_item2')}}
                        </p>
                        <p class="text-muted">
                            <rss-icon class="icon-xs mr-1"></rss-icon>
                            {{$t('home_referral_section1_item3')}}
                        </p>
                        <div class="mt-5">
                            <router-link :to="{name: 'contact-us'}" class="btn btn-primary mr-2">
                                {{$t('contact_us')}}
                            </router-link>
                            <router-link :to="{name: 'login'}" class="btn btn-soft-primary mr-2">
                                {{$t('start_now')}}
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="mt-4 mt-lg-0">
                            <img src="../../images/referral-calculation.png" alt="Referral Commission Calculation | Crypvestor" class="referral-image-content img-fluid d-block mx-auto"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="section feather-bg-img sm-p-0"
            :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
        >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="mt-4 mt-lg-0">
                            <img src="../../images/referral-payment.png" alt class="referral-image-content img-fluid d-block mx-auto"/>
                        </div>
                    </div>

                    <div class="col-lg-5 offset-lg-1">
                        <p class="font-weight-medium text-uppercase mb-2">
                            <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> {{$t('home_referral_section2_head_title')}}
                        </p>
                        <h3 class="font-weight-semibold line-height-1_4 mb-4">
                            <b>{{$t('home_referral_section2_title')}}</b>
                        </h3>
                        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
                        <p class="text-muted font-size-15 mb-4">
                            {{$t('home_referral_section2_item1')}}
                        </p>
                        <p class="text-muted mb-2">
                            <server-icon class="icon-xs mr-1"></server-icon>
                            {{$t('home_referral_section2_item2')}}
                        </p>
                        <p class="text-muted">
                            <rss-icon class="icon-xs mr-1"></rss-icon>
                            {{$t('home_referral_section2_item3')}}
                        </p>
                        <div class="mt-5">
                            <router-link :to="{name: 'contact-us'}" class="btn btn-primary mr-2">
                                {{$t('contact_us')}}
                            </router-link>
                            <router-link :to="{name: 'login'}" class="btn btn-soft-primary mr-2">
                                {{$t('start_now')}}
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="section feather-bg-img sm-p-0"
            :style="{'background-image': 'url(' + require('../../images/features-bg-img-1.png') + ')'}"
        >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <p class="font-weight-medium text-uppercase mb-2">
                            <i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> {{$t('home_referral_section3_heading')}}
                        </p>
                        <h3 class="font-weight-semibold line-height-1_4 mb-4">
                            <b>{{ $t('home_referral_section3_title') }}</b>
                        </h3>

                        <div class="row">
                            <div class="col-md-6">
                                <h5>
                                    <disc-icon class="icon-xs mr-1"></disc-icon>
                                    Standard
                                </h5>

                                <p class="text-muted font-size-15 mb-4">
                                    {{ $t('home_referral_section3_item1') }}
                                </p>

                                <div class="commission">7%</div>

<!--                                <img src="@/images/referral-standard.png" alt class="img-fluid" />-->
                            </div>
                            <div class="col-md-6">
                                <h5>
                                    <disc-icon class="icon-xs mr-1"></disc-icon>
                                    VIP
                                </h5>

                                <p class="text-muted font-size-15 mb-4">
                                    {{ $t('home_referral_section3_item2') }}
                                </p>

                                <div class="commission">10%</div>
<!--                                <img src="@/images/referral-vip.png" alt class="img-fluid" />-->
                            </div>
                        </div>

                        <p class="text-muted mt-5">
                            <alert-circle-icon class="icon-xs mr-1"></alert-circle-icon>
                            {{ $t('home_referral_section3_muted') }}
                        </p>
                    </div>
                </div>
            </div>
        </section>


    </div>
</template>
