<template>
    <div id="pre-orders-container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-primary" role="alert" v-if="closedOrdersFiltered.length">
                    {{$t('cumulative_pnl')}} ${{current_pnl.toFixed(2)}}
                    ({{closedOrdersFiltered.length}} {{closedOrdersFiltered.length === 1 ? $t('transaction') : $t('transactions')}})
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-primary" role="alert" v-if="closedOrdersFiltered.length">
                    {{$t('cumulative_gross_profit')}} {{cumulative_gross_profit.toFixed(2)}}%
                </div>
            </div>
        </div>
        <table class="table binance-orders-table table-striped" v-if="closedOrdersFiltered.length">
            <thead>
            <tr>
                <th>{{$t('account')}}</th>
                <th>{{$t('symbol')}}</th>
                <th>{{$t('buy_time')}}<br><small>{{$t('buy_price')}}<br>{{$t('filled_average')}}</small></th>
                <th>{{$t('sell_time')}}<br><small>{{$t('sell_price')}}<br>{{$t('filled_average')}}</small></th>
                <th>{{$t('buy_amount')}}<br><small>{{$t('cummulative_qty')}}</small></th>
                <th>{{$t('sell_amount')}}<br><small>{{$t('cummulative_qty')}}</small></th>
                <th>{{$t('pnl')}}<br><small>{{$t('commission_exclusive')}}</small></th>
                <th>{{$t('trade_profit')}}<br><small>{{$t('percentage')}}</small></th>
                <th>{{$t('traded_capital')}}<br><small>{{$t('percentage')}}</small></th>
                <th>{{$t('gross_profit')}}<br><small>{{$t('percentage')}}</small></th>
            </tr>
            </thead>
            <tbody id="table">
            <template v-if="closedOrdersFiltered.length">
                <tr v-for="(closed_order, index) in closedOrdersFiltered" :key="index" :class="getClass(closed_order)">
                    <td>
                        {{ closed_order.binance_account ? closed_order.binance_account.name : 'No account' }}<br>
                        <small v-html="getAccountDetails(closed_order)"></small>
                    </td>
                    <td>{{closed_order.symbol}}</td>
                    <td>
                        <div>{{closed_order.transact_time_humans}}<br>
                            <small>{{closed_order.transact_time.substr(0, 19)}}</small><br>
                            <small>Order ID #{{closed_order.id}}</small>
                        </div>
                    </td>
                    <td>
                        <div>
                            {{closed_order.related_order.transact_time_humans}}<br>
                            <small>{{closed_order.related_order.transact_time.substr(0, 19)}}</small><br>
                            <small>Order ID #{{closed_order.related_order.id}}</small>
                        </div>
                    </td>
                    <td>
                        ${{parseFloat(closed_order.average_price).toFixed(4)}} <br>
                        {{ parseFloat(closed_order.executed_qty).toFixed(4) }} <br>
                        <small>${{ parseFloat(closed_order.cumulative_quote_qty).toFixed(4) }}</small>
                    </td>
                    <td>
                        ${{parseFloat(closed_order.related_order.average_price).toFixed(4)}} <br>
                        {{ parseFloat(closed_order.related_order.executed_qty).toFixed(4) }} <br>
                        <small>${{ parseFloat(closed_order.related_order.cumulative_quote_qty).toFixed(4) }}</small>
                    </td>
                    <td v-html="getProfitDiff(closed_order)"></td>
                    <td>
                        {{ getProfitPercent(closed_order) }}
                    </td>
                    <td :title="$t('traded_capital')">
                        {{getTradedCapital(closed_order)}}
                    </td>
                    <td>
                        {{getGrossProfit(closed_order)}}
                    </td>
                </tr>
            </template>
            <template v-else>
                <tr>
                    <td colspan="10"><i>No closed orders found</i></td>
                </tr>
            </template>
            </tbody>
        </table>
        <div v-if="!closedOrdersFiltered.length">
            <div class="alert alert-primary" role="alert">
                {{$t('no_orders_found')}}
            </div>
        </div>
    </div>
</template>


<script>
import {mapGetters} from 'vuex'
import Swal from "sweetalert2";
import Multiselect from 'vue-multiselect'
import collect from 'collect.js'
import axios from "axios";
import {Helper} from "../../../_helper";

export default {
    name: 'ClosedOrdersClient',

    components: {
        Multiselect,
    },

    props: {
        binance_account_id: {
            default: 0,
            type: Number
        },
        order_status_id: {
            default: 0,
            type: Number
        }
    },

    mounted() {
        this.dispatchClosedOrders()
        this.intervalClosedOrders = setInterval(() => { this.dispatchClosedOrders() }, 1000 * 30)
    },

    beforeDestroy () {
        clearInterval(this.intervalClosedOrders)
    },

    data: () => ({
        intervalClosedOrders: null,
        current_pnl: 0,
        average_current_roe: 0,
        pending_payment: 0,
        cumulative_gross_profit: 0,
    }),

    computed: {
        ...mapGetters({
            authenticated: 'auth/check',
            closed_orders: 'closed-orders/all_client',
        }),
        closedOrdersFiltered() {
            let last_symbol_traded = false;
            let order_count = 0;
            let order_cumulative_pnl = 0;
            this.cumulative_gross_profit = 0;
            let profit = 0
            this.average_current_roe = 0
            const orders = this.getFilteredOrders();
            //this.pending_payment = 0
            if (orders.length) {
                orders.forEach((order) => {
                    const executed_qty = parseFloat(order.executed_qty)
                    const buy_amount = executed_qty * parseFloat(order.average_price)
                    const related_executed_qty = parseFloat(order.related_order.executed_qty)
                    let sell_amount = related_executed_qty * parseFloat(order.related_order.average_price)
                    const sell_commission = sell_amount * 0.001
                    sell_amount = sell_amount - sell_commission;
                    if (
                        this.getProfitPercent(order, true) > 0
                        && this.getProfitDiff(order, true) < 0
                    ) {

                    } else {
                        profit += (sell_amount - buy_amount)
                        this.cumulative_gross_profit += this.getGrossProfit(order, true)
                    }

                    if (!last_symbol_traded) {
                        last_symbol_traded = order.symbol
                    }

                    if ([1,2,4].indexOf(order.order_status_id) !== false || !order.order_status_id) {
                        this.pending_payment += profit
                    }

                })
                this.current_pnl = profit
                //this.pending_payment *= .3
                //this.average_current_roe = profit / orders.length

                // Update dom, cards tiles in dashboard.
                $('.count-cumulative').html(`$${this.current_pnl.toFixed(2)}`);
            }

            // Update dom, cards tiles in dashboard.
            $('.count-last-symbol').html(last_symbol_traded);
            $('.count-orders').html(orders.length);
            return orders
        }
    },

    watch: {
        binance_account_id(binance_account) {
            ///.....
        },
    },

    methods: {
        getFilteredOrders () {
            let orders = this.closed_orders;
            if (this.binance_account_id) {
                orders = orders.filter((order) => {
                    return order.binance_account_id === this.binance_account_id
                })
            }
            if (this.order_status_id) {
                orders = orders.filter((order) => {
                    if ([1,2].indexOf(this.order_status_id) !== false) {
                        return order.order_status_id === this.order_status_id || !order.order_status_id
                    }
                    return order.order_status_id === this.order_status_id
                })
            }
            return orders
        },
        getClass(order) {
            if(this.getProfitPercent(order, true) > 0
                && this.getProfitDiff(order, true) < 0) {
                return 'qty-not-matching'
            }
            return ''
        },
        getAccountDetails(order) {
            if (order.binance_account) {
                return `${order.binance_account.strategy.name}<br><i>${order.binance_account.user.name}</i>`
            }
        },
        getProfitPercent(order, as_float = false) {
            const percent = ((parseFloat(order.related_order.average_price)  - parseFloat(order.average_price))  / parseFloat(order.average_price)  * 100 ) ;
            if (as_float)
                return percent
            return `${percent.toFixed(2)}%`
        },
        getGrossProfit(order, as_float = false) {
            const gross_profit = this.getProfitPercent(order, true) * (this.getTradedCapital(order, true) / 100);
            if (as_float)
                return gross_profit
            return `${gross_profit.toFixed(2)}%`
        },
        getTradedCapital(order, as_float = false) {
            let orders = this.getFilteredOrders();
            let $previous_order = orders.filter(($closed_order) => {
                if ($closed_order.binance_account_id !== order.binance_account_id) {
                    return false;
                }

                const closed_date = new Date($closed_order.created_at);
                const closed_related_date = new Date($closed_order.related_order.created_at);
                const order_date = new Date(order.created_at);

                if (!$closed_order.related_order && closed_date < order_date) {
                    return true;
                }

                if ($closed_order.related_order && closed_date < order_date && closed_related_date > order_date) {
                    return true;
                }

                return false;
            });

            $previous_order = $previous_order.length ? $previous_order[0] : null;
            let traded_capital = order.pre_order_trashed ? order.pre_order_trashed.size_percent ?? 100 : 100;
            if ($previous_order && $previous_order.pre_order_trashed && $previous_order.pre_order_trashed.size_percent) {
                let $left_capital = 100 - $previous_order.pre_order_trashed.size_percent;
                traded_capital = traded_capital / 100 * $left_capital;
            }

            traded_capital = parseFloat(traded_capital);
            if (as_float)
                return traded_capital
            return `${traded_capital.toFixed(0)}%`
        },
        getProfitDiff(order, as_float = false) {
            const buy_amount = parseFloat(order.executed_qty) * parseFloat(order.average_price)
            let sell_amount = parseFloat(order.related_order.executed_qty) * parseFloat(order.related_order.average_price)
            const sell_commission = sell_amount * 0.001
            sell_amount = sell_amount - sell_commission;
            const diff = (sell_amount - buy_amount)
            if (as_float)
                return diff
            return `$${diff.toFixed(2)} <br><small>-$${sell_commission.toFixed(4)}</small>`
        },
        dispatchClosedOrders() {
            this.global_profit = 0;
            this.$store.dispatch('closed-orders/getClosedOrdersClient')
            this.$emit('updated')
        },
        getSize(order) {
            return order.size_amount
                ? `$${order.size_amount}`
                : `${order.size_percent}%`
        },
    }
}
</script>

<style lang="scss" scoped>
    #pre-orders-container {
        margin-top: 1rem;
    }
    .qty-not-matching {
        background-color: #ffeded !important;
    }
</style>
