<template>
    <card :title="`Realized PNL ${$t('last')} ${days} ${$t('days')}`" v-if="data_collection">
        <line-chart :series="data_collection.series" :options="data_collection.chartOptions"></line-chart>
    </card>
</template>


<script>
import {mapGetters} from 'vuex'
import axios from "axios";
import LineChart from '~/components/LineChart.vue'

export default {
    name: 'GraphPnlClient',

    props: {
        binance_account_id: {
            default: 0,
            type: Number
        }
    },

    components: {
        LineChart
    },

    mounted() {
        this.getPnl(0)
    },

    data: () => ({
        data_collection: false,
        days: 30
    }),

    computed: {
        ...mapGetters({
            authenticated: 'auth/check',
        }),
    },

    watch: {
        binance_account_id(binance_account) {
            this.getPnl(binance_account)
        },
    },

    methods: {
        async getPnl (binance_account) {
            const self = this;
            let start_date = new Date()
            start_date.setDate(start_date.getDate() - 30)
            start_date = start_date.toISOString().slice(0,10)
            if (!binance_account) {
                binance_account = false
            }
            try {
                const {data} = await axios.get(`/api/dashboard/pnl/date/${start_date}/binance-account/${binance_account}`)
                if (!data.series.data || !data.datasets) {
                    this.data_collection = false;
                    return;
                }
                this.data_collection = {
                    series: [{
                        name: "Income Pnl",
                        data: data.series.data
                    }],
                    chartOptions: {
                        chart: {
                            height: 400,
                            type: 'line',
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        // stroke: {
                        //     curve: 'smooth'
                        // },
                        title: {
                            text: 'Income trend by transaction',
                            align: 'left'
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'category',
                            categories: data.datasets,
                            tickPlacement: 'between',
                            labels: {
                                style: {
                                    colors: [],
                                    fontSize: '9px',
                                    fontFamily: 'Helvetica, Arial, sans-serif',
                                    fontWeight: 400,
                                    cssClass: 'apexcharts-xaxis-label',
                                    maxHeight: 200,
                                },
                            }
                        },
                        tooltip: {
                            custom: function({ series, seriesIndex, dataPointIndex, w }) {
                                return `<div style="padding: 5px;">
                                        <div class="pnl">Pnl: $${data.series.extra[dataPointIndex].pnl}</div>
                                        <div class="roe">Roe: ${data.series.extra[dataPointIndex].roe}%</div>
                                        <div class="sum">${self.$t('cumulative')}: $${data.series.extra[dataPointIndex].sum}</div>
                                    </div>`
                            }
                        }
                    },
                }
            }
            catch (e) {
                console.error(e)
            }


        },
        getRandomInt () {
            return Math.floor(Math.random() * (50 - 5 + 1)) + 5
        }
    }
}
</script>

<style lang="scss" scoped>
    #pre-orders-container {
        margin-top: 1rem;
    }
    .qty-not-matching {
        background-color: #ffeded !important;
    }
</style>
