<template>
    <div id="pre-orders-container">
        <!--        <h1 id="ticker"></h1>-->
        <table class="table binance-orders-table table-striped">
            <thead>
            <tr>
                <th>Account</th>
                <th>Symbol</th>
                <th>Buy Time<br>
                    <small>Order Placed</small>
                </th>
                <th>Buy Price<br>
                    <small>Filled Average</small>
                </th>
                <th>Buy qty<br>
                    <small>Cumulative</small>
                </th>
                <th>Stop Loss</th>
                <th>Take Profit</th>
                <th>Roe<br>
                    <small>Live</small>
                </th>
                <th>Price<br>
                    <small>Live</small>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Filter..." v-model="filter_account">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Filter..." v-model="filter_symbol">
                </td>
                <td colspan="3">
                    <div>
                        Total Buy Amount ${{total_buy_amount.toFixed(4)}} <br>
                        <small>Current Average Roe {{average_current_roe.toFixed(2)}}%</small>
                    </div>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Stop at %" step="0.0001" v-model="stop_percent">
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Take Profit %" step="0.0001" v-model="profit_percent">
                </td>
                <td colspan="2">
                    <select v-model="filter_order_group" class="form-control" name="" id="">
                        <option :value="null">All Groups</option>
                        <template v-for="order_group in order_groups">
                            <option :value="order_group.id">{{order_group.id}}</option>
                        </template>
                    </select>
                </td>
                <td>
                    <div>
                        <button class="btn btn-primary btn-sm" @click="applyChanges()">Apply</button>
                    </div>
                </td>
            </tr>
            <template v-if="open_orders.length" v-for="(open_order) in openOrderFiltered">
                <tr :class="getErrorClass(open_order)" v-tooltip="open_order.internal_details ? open_order.internal_details : false">
                    <td>
                        {{ open_order.binance_account ? open_order.binance_account.name : 'No account' }}<br>
                        <small>{{getAccountDetails(open_order)}}</small>
                    </td>
                    <td>{{ open_order.symbol }}</td>
                    <td>
                        <div>
                            {{ open_order.transact_time_humans }} <br>
                            <small>{{ open_order.transact_time.substr(0, 19) }}</small>
                        </div>
                    </td>
                    <td>${{ open_order.average_price }}</td>
                    <td>
                        {{ parseFloat(open_order.executed_qty).toFixed(4) }} <br>
                        <small>${{ parseFloat(open_order.cumulative_quote_qty).toFixed(4) }} {{getSizeOrder(open_order)}}</small>
                    </td>
                    <td v-html="getStopLoss(open_order)"></td>
                    <td v-html="getTakeProfit(open_order)"></td>
                    <td>{{currentRoe(open_order).toFixed(2)}}%
                    </td>
                    <td>{{ parseFloat(open_order.last_price).toFixed(4) }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm" @click="sellOrderNow(open_order)">Sell
                                Now
                            </button>
                            <button type="button" class="btn btn-danger btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" @click="editOrderModal(open_order)">Edit</a>
                                <a class="dropdown-item" :href="`https://www.binance.com/en/trade/${open_order.symbol}?layout=pro`" title="Open binance graph" target="_blank">Binance</a>
                                <a class="dropdown-item" @click="openTradingView(open_order)">Trading View</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" @click="deleteOrder(open_order)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
            <template v-else>
                <tr>
                    <td colspan="10" style="background: red;"><i>No open orders found</i></td>
                </tr>
            </template>
            </tbody>
        </table>


        <!-- Modal Trading View -->
        <div class="modal fade" id="trading-view-graph" tabindex="-1" aria-labelledby="trading-view-graph-label" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="trading-view-graph-label">Trading View</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <VueTradingView :options="tradingview_options" :key="tradingview_remount"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit Order -->
        <div class="modal fade" id="edit-order" tabindex="-1" aria-labelledby="edit-order-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-order-label">Edit Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="edit-order-form" id="edit-order-form" @submit.prevent="editOrder" @keydown="edit_order.onKeydown($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stop_loss_percent">Stop Loss %</label>
                                        <div><small>Not required.</small></div>
                                        <input
                                            v-model="edit_order.stop_percent"
                                            :class="{ 'is-invalid': edit_order.errors.has('stop_loss_percent') }"
                                            class="form-control"
                                            id="stop_loss_percent"
                                            type="number"
                                            step="0.01"
                                            name="stop_loss_percent"
                                            placeholder="Eg: -5"
                                        />
                                        <has-error :form="edit_order" field="stop_loss_percent" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="profit_percent">Take Profit %</label>
                                        <div><small>Not required.</small></div>
                                        <input
                                            v-model="edit_order.profit_percent"
                                            :class="{ 'is-invalid': edit_order.errors.has('profit_percent') }"
                                            class="form-control"
                                            id="profit_percent"
                                            type="number"
                                            step="0.01"
                                            name="profit_percent"
                                            placeholder="Eg: 50"
                                        />
                                        <has-error :form="edit_order" field="profit_percent" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <v-button :loading="edit_order.busy" class="btn btn-primary mt-3">
                                        Update
                                        <send-icon class="icon-size-15 ml-2 icon"></send-icon>
                                    </v-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import {
    SendIcon,
} from "vue-feather-icons";
import {mapGetters} from 'vuex'
import Swal from "sweetalert2";
import Multiselect from 'vue-multiselect'
import axios from "axios";
import {Helper} from "../../../_helper";
import VueTradingView from 'vue-trading-view';
import Form from "vform";

export default {
    name: 'OpenOrders',

    components: {
        SendIcon,
        Multiselect,
        VueTradingView
    },


    mounted() {
        this.dispatchOpenOrders()
        this.open_order_filtered = setInterval(() => {
            this.dispatchOpenOrders()
        }, 5000)

        this.getOrderGroups()
    },

    beforeDestroy() {
        clearInterval(this.open_order_filtered)
    },

    data: () => ({
        total_buy_amount: 0,
        average_current_roe: 0,
        stop_percent: null,
        profit_percent: null,
        filter_symbol: null,
        filter_account: null,
        filter_order_group: null,
        open_order_filtered: null,
        tradingview_options: null,
        tradingview_remount: 0,
        edit_order: new Form({
            //strategy: null,
            open_order_id: null,
            stop_percent: null,
            profit_percent: null,
        }),
    }),

    computed: {
        ...mapGetters({
            authenticated: 'auth/check',
            open_orders: 'open-orders/all',
            order_groups: 'open-orders/order_groups'
        }),
        openOrderFiltered() {
            let orders = this.open_orders;
            if (this.filter_symbol) {
                orders = orders.filter((order) => {
                    console.log(this.filter_symbol, order.symbol)
                    return order.symbol.toLowerCase().search(this.filter_symbol.toLowerCase()) !== -1
                })
            }
            if (this.filter_account) {
                orders = orders.filter((order) => {
                    console.log(order)
                    return order.binance_account.name.toLowerCase().search(this.filter_account.toLowerCase()) !== -1
                        || order.binance_account.user.name.toLowerCase().search(this.filter_account.toLowerCase()) !== -1
                        || order.binance_account.strategy.name.toLowerCase().search(this.filter_account.toLowerCase()) !== -1
                })
            }
            if (this.filter_order_group) {
                orders = orders.filter((order) => {
                    return order.order_group_id === this.filter_order_group
                })
            }
            this.total_buy_amount = 0
            this.average_current_roe = 0
            if (orders.length) {
                orders.forEach((order) => {
                    this.total_buy_amount += parseFloat(order.cumulative_quote_qty)
                    this.average_current_roe += this.currentRoe(order)
                })
                this.average_current_roe = this.average_current_roe / orders.length
            }
            return orders
        }
    },

    methods: {
        async getOrderGroups() {
            await this.$store.dispatch('open-orders/getOrderGroups');
        },
        applyChanges() {
            if (this.stop_percent || this.profit_percent) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    text: "Are you sure you want to update the selected orders?.",
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then( async (result) => {
                    if (result.isConfirmed) {
                        try {
                            const payload = {
                                order_ids: this.openOrderFiltered.map((order) => { return order.id }),
                                stop_percent: this.stop_percent,
                                profit_percent: this.profit_percent,
                            }
                            const { data } = await axios.post('/api/admin/open-orders-bulk-update', payload)
                            //Event.fire('open-order-created')
                            await this.$store.dispatch('open-orders/getOpenOrders')
                        } catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'There where an error.',
                                text: error,
                                confirmButton: this.$t('close'),
                                confirmButtonClass: 'btn btn-primary',
                                buttonsStyling: false
                            })
                        }
                    }
                })
            }
        },
        currentRoe(order) {
            return ((parseFloat(order.last_price) - parseFloat(order.average_price)) / parseFloat(order.average_price) * 100)
        },
        getAccountDetails(open_order) {
            if (open_order.binance_account) {
                return `${open_order.binance_account.strategy.name} | ${open_order.binance_account.user.name} `
            }
        },
        getErrorClass(open_order) {
            const roe = this.currentRoe(open_order)
            let roe_class = 'neutral'
            if (roe > 0)
                roe_class = 'positive'
            if (roe < 0) {
                roe_class = 'negative'
            }
            return open_order.internal_details ? `open-order-error` : roe_class
        },
        openTradingView(open_order) {
            this.tradingview_options = {
                symbol: 'BINANCE:' + open_order.symbol,
                theme: 'dark',
                width: "100%",
                height: 500,
                interval: "1",
                timezone: "Etc/UTC",
                style: "1",
                locale: "en",
                toolbar_bg: "#f1f3f6",
                enable_publishing: false,
                hide_side_toolbar: false,
                allow_symbol_change: true,
                details: true,
            }
            this.tradingview_remount += 1;
            $('#trading-view-graph').modal()
        },
        editOrderModal(open_order) {
            this.edit_order.open_order_id = open_order.id
            this.edit_order.stop_percent = open_order.stop_percent
            this.edit_order.profit_percent = open_order.profit_percent
            $('#edit-order').modal()
        },
        editOrder() {
            console.log(this.edit_order);
            Swal.fire({
                icon: 'warning',
                title: 'Are you sure?',
                text: "Are you sure the setup is correct?.",
                showCancelButton: true,
                confirmButtonText: this.$t('ok'),
                cancelButtonText: this.$t('cancel')
            }).then( async (result) => {
                if (result.isConfirmed) {
                    try {
                        await this.edit_order.patch('/api/admin/open-orders/' + this.edit_order.open_order_id)
                        if (this.edit_order.successful) {
                            //console.log(this.form)
                            Swal.fire({
                                icon: 'success',
                                title: 'Order updated successfully',
                                text: 'Take profit and Stop loss was updated successfully',
                                confirmButton: this.$t('close'),
                                confirmButtonClass: 'btn btn-primary',
                                buttonsStyling: false
                            })
                            //Event.fire('open-order-created')
                            await this.$store.dispatch('open-orders/getOpenOrders')

                        }
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'There where an error.',
                            text: error,
                            confirmButton: this.$t('close'),
                            confirmButtonClass: 'btn btn-primary',
                            buttonsStyling: false
                        })
                    }
                }
            })
        },
        getSizeOrder(open_order) {
            if (open_order.pre_order_trashed) {
                if (open_order.pre_order_trashed.size_percent) {
                    return `(${open_order.pre_order_trashed.size_percent}%)`
                }
                if (open_order.pre_order_trashed.size_value) {
                    return `($${open_order.pre_order_trashed.size_value})`
                }
            }
        },
        getStopLoss(open_order) {
            if (open_order.stop_price) {
                return `
                    <div>
                         <div>$${parseFloat(open_order.stop_price).toFixed(3)}</div>
                         <div><small>$${parseFloat(open_order.stop_loss_price).toFixed(3)}</small></div>
                    </div>
                `;
            }
            if (open_order.stop_percent) {
                return `
                    <div>
                         <div>${parseFloat(open_order.stop_percent) > 0 ? '+' : ''}${parseFloat(open_order.stop_percent).toFixed(2)}%</div>
                         <div><small>$${parseFloat(open_order.stop_loss_price).toFixed(3)}</small></div>
                    </div>
                `;
            }
            return `No set`;
        },
        getTakeProfit(open_order) {
            if (open_order.profit_amount) {
                return `
                    <div>
                         <div>+$${open_order.profit_amount}</div>
                         <div><small>$${parseFloat(open_order.take_profit_price).toFixed(3)}</small></div>
                    </div>
                `;
            }
            if (open_order.profit_percent) {
                return `
                    <div>
                         <div>${parseFloat(open_order.profit_percent) > 0 ? '+' : ''}${parseFloat(open_order.profit_percent).toFixed(2)}%</div>
                         <div><small>$${parseFloat(open_order.take_profit_price).toFixed(3)}</small></div>
                    </div>
                `;
            }
            return `No set`;
        },
        dispatchOpenOrders() {
            this.$store.dispatch('open-orders/getOpenOrders')
        },
        getSize(order) {
            return order.size_amount
                ? `$${order.size_amount}`
                : `${order.size_percent}%`
        },
        getStatus(order) {
            return order.status
                ? Helper.CapitalizeFirstLetterString(order.status)
                : `Queued`
        },

        sellOrderNow(order) {
            Swal.fire({
                icon: 'warning',
                title: this.$t('are_you_sure'),
                text: `Are you sure you want to sell this order (${order.symbol})?`,
                showCancelButton: true,
                confirmButtonText: this.$t('ok'),
                cancelButtonText: this.$t('cancel')
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        const {data} = await axios.post(`/api/admin/orders/${order.id}/sell-now`)
                        await this.$store.dispatch('pre-orders/getOrders')
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'There where an error.',
                            text: error,
                            confirmButton: this.$t('close'),
                            confirmButtonClass: 'btn btn-primary',
                            buttonsStyling: false
                        })
                    }
                }
            })
        },
        deleteOrder(order) {
            Swal.fire({
                icon: 'warning',
                title: this.$t('are_you_sure'),
                text: 'Are you Sure you want to remove this order?. You wont be able to trade back this money from here.',
                showCancelButton: true,
                confirmButtonText: this.$t('ok'),
                cancelButtonText: this.$t('cancel')
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        const {data} = await axios.delete(`/api/admin/open-orders/${order.id}`)
                        await this.$store.dispatch('open-orders/getOpenOrders')
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'There where an error.',
                            text: error,
                            confirmButton: this.$t('close'),
                            confirmButtonClass: 'btn btn-primary',
                            buttonsStyling: false
                        })
                    }
                }
            })
        }

    }
}
</script>

<style lang="scss" scoped>
#pre-orders-container {
    margin-top: 1rem;
}

.open-order-error {
    background-color: #ffa7a7 !important;
}
.neutral {
    background-color: #dedede !important;
}
.positive {
    background-color: #ebfbe7 !important;
}
.negative {
    background-color: #ffeded !important;
}
</style>
