<template>
    <div>
        <div class="card accordion accordion-section" id="creator-panel">
            <div class="card-header" id="creator-heading" data-toggle="collapse" data-target="#collapse-creator"
                 aria-expanded="false" aria-controls="collapse-creator">
                Create Order Group
            </div>

            <div class="card-body collapse" id="collapse-creator" aria-labelledby="creator-heading"
                 data-parent="#creator-panel">
                <div class="global-data">
                    <div class="d-flex justify-content-between">
                        <div class="total"><strong>Total USDT:</strong> ${{global_usdt.toFixed(2)}}</div>
                        <div class="total"><strong>Selected Total USDT:</strong> ${{selected_available_usdt.toFixed(2)}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="available"><strong>Available USDT:</strong> ${{available_usdt.toFixed(2)}}</div>
                        <div class="available"><strong>Selected Available USDT:</strong> ${{selected_global_usdt.toFixed(2)}}</div>
                    </div>
                </div>
                <hr>
                <form name="contact-form" id="contact-form" @submit.prevent="placePreOrder"
                      @keydown="form.onKeydown($event)">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="message"></div>
                            <div class="row">
                                <!--
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="strategy">Strategy*</label>
                                        <multiselect v-model="selected_strategy"
                                                     :options="strategies"
                                                     label="name"
                                                     track-by="id"
                                                     id="strategy"
                                                     selectLabel="Select"
                                                     selectGroupLabel="Select Group"
                                                     deselectLabel="Unselect"
                                                     deselectGroupLabel="Unselect Group"
                                                     :class="{ 'is-invalid': form.errors.has('strategy') }"
                                                     @input="setStrategy"
                                                     @remove="setStrategy"
                                        ></multiselect>
                                        <has-error :form="form" field="strategy"/>
                                    </div>
                                </div>
                                -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="binance_accounts">Select Accounts*</label>
                                        <div><small>Will display only those that are active for trading.</small></div>
                                        <multiselect v-model="selected_binance_accounts"
                                                     :options="clients_options"
                                                     label="name"
                                                     track-by="id"
                                                     id="binance_accounts"
                                                     group-values="binance_accounts_active"
                                                     group-label="name"
                                                     :group-select="true"
                                                     :multiple="true"
                                                     selectLabel="Select"
                                                     selectGroupLabel="Select Group"
                                                     deselectLabel="Unselect"
                                                     :close-on-select="false"
                                                     deselectGroupLabel="Unselect Group"
                                                     :class="{ 'is-invalid': form.errors.has('binance_accounts') }"
                                                     @input="setBinanceAccounts"
                                                     @remove="setBinanceAccounts"
                                                     :internal-search="false"
                                                     @search-change="searchBinanceAccounts"
                                        >
                                            <template slot="option" slot-scope="props">
                                                <div class="option__desc" v-if="props.option.$isLabel">
                                                    {{ props.option.$groupLabel }}
                                                </div>
                                                <div v-else>
                                                    <div>{{ props.option.name }}</div>
                                                    <div>
                                                        <small>{{ props.option.strategy.name }}</small>
                                                    </div>
                                                </div>
                                            </template>
                                        </multiselect>
                                        <has-error :form="form" field="binance_accounts"/>
                                        <small>
                                            <a @click="setBinanceAccountsByStrategy(1)">D&C</a> |
                                            <a @click="setBinanceAccountsByStrategy(2)">RTT</a> |
                                            <a @click="setBinanceAccountsByStrategy(3)">STR</a> |
                                            <a @click="setBinanceAccountsByStrategy(4)">TTM</a> |
                                            <a @click="setBinanceAccountsByStrategy(-1)">All</a> |
                                            <a @click="setBinanceAccountsByStrategy(null)">Clear</a>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="symbol">Symbol*</label>
                                        <multiselect v-model="selected_symbol"
                                                     :options="prices"
                                                     label="symbol"
                                                     track-by="symbol"
                                                     id="symbol"
                                                     selectLabel="Select"
                                                     selectGroupLabel="Select Group"
                                                     deselectLabel="Unselect"
                                                     deselectGroupLabel="Unselect Group"
                                                     :class="{ 'is-invalid': form.errors.has('symbol') }"
                                                     @input="setSymbol"
                                                     @remove="setSymbol"
                                        >
                                            <template slot="option" slot-scope="props">
                                                <div>{{ props.option.symbol }}</div>
                                                <div>
                                                    <small>${{ props.option.price }}</small>
                                                </div>
                                            </template>
                                        </multiselect>
                                        <has-error :form="form" field="symbol"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="rule_id">Select Rule*</label>
                                        <div><small>Select the rule you want to use to trigger the order.</small></div>
                                        <multiselect v-model="selected_rule"
                                                     :options="order_rules"
                                                     label="name"
                                                     track-by="id"
                                                     id="rule_id"
                                                     selectLabel="Select"
                                                     selectGroupLabel="Select Group"
                                                     deselectLabel="Unselect"
                                                     :class="{ 'is-invalid': form.errors.has('rule_id') }"
                                                     deselectGroupLabel="Unselect Group"
                                                     @input="setRule"
                                                     @remove="setRule"
                                        >
                                        </multiselect>
                                        <has-error :form="form" field="rule_id"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="value">Value*</label>
                                        <div><small>Trigger conditional.</small></div>
                                        <input
                                            v-model="form.value"
                                            :class="{ 'is-invalid': form.errors.has('value') }"
                                            class="form-control"
                                            id="value"
                                            type="number"
                                            step="0.0001"
                                            name="value"
                                            :placeholder="$t('value') + '*'"
                                        />
                                        <has-error :form="form" field="value"/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="size_percent">Size Percent %*</label>
                                        <div><small>Choose the percentage of USDT available for the selected accounts that
                                            you want to use.</small></div>
                                        <input
                                            v-model="form.size_percent"
                                            :class="{ 'is-invalid': form.errors.has('size_percent') }"
                                            class="form-control"
                                            id="size_percent"
                                            type="number"
                                            min="1"
                                            max="100"
                                            name="size_percent"
                                            placeholder="Eg: 50"
                                        />
                                        <has-error :form="form" field="size_percent"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="size_value">Size Value USDT $*</label>
                                        <div><small>If the selected account does not have enough value, you will buy using
                                            100% available in USDT</small></div>
                                        <input
                                            v-model="form.size_value"
                                            :class="{ 'is-invalid': form.errors.has('size_value') }"
                                            class="form-control"
                                            id="size_value"
                                            type="number"
                                            step="0.01"
                                            name="size_value"
                                            placeholder="Eg: 50"
                                        />
                                        <has-error :form="form" field="size_value"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stop_loss_percent">Stop Loss %</label>
                                        <div><small>Not required.</small></div>
                                        <input
                                            v-model="form.stop_loss_percent"
                                            :class="{ 'is-invalid': form.errors.has('stop_loss_percent') }"
                                            class="form-control"
                                            id="stop_loss_percent"
                                            type="number"
                                            step="0.01"
                                            name="stop_loss_percent"
                                            placeholder="Eg: -5"
                                        />
                                        <has-error :form="form" field="stop_loss_percent"/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="take_profit_percent">Take Profit %</label>
                                        <div><small>Not required.</small></div>
                                        <input
                                            v-model="form.take_profit_percent"
                                            :class="{ 'is-invalid': form.errors.has('take_profit_percent') }"
                                            class="form-control"
                                            id="take_profit_percent"
                                            type="number"
                                            step="0.01"
                                            name="take_profit_percent"
                                            placeholder="Eg: 50"
                                        />
                                        <has-error :form="form" field="take_profit_percent"/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="size_value">Enqueue your orders now</label>
                                    <div><small>By clicking on this button you will be placing the pre-orders to be bought
                                        at market price for the selected accounts.</small></div>
                                    <v-button :loading="form.busy" class="btn btn-primary mt-3">
                                        Enqueue Orders
                                        <send-icon class="icon-size-15 ml-2 icon"></send-icon>
                                    </v-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>


<script>
    import {
        SendIcon,
    } from "vue-feather-icons";
    import {mapGetters} from 'vuex'
    import Swal from "sweetalert2";
    import Form from "vform";
    import Multiselect from 'vue-multiselect'
    import axios from "axios";
    import SwitchButton from "../../../components/SwitchButton";

    export default {
        name: 'OrderCreator',

        components: {
            SwitchButton,
            Multiselect,
            SendIcon
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        mounted() {
            this.getClients()
            //this.getStrategies()
            this.getLastPrices()
            this.getOrderRules()
        },

        data: () => ({
            title: window.config.appName,
            //selected_strategy: null,
            selected_binance_accounts: [],
            selected_symbol: null,
            selected_rule: null,
            selected_available_usdt: 0,
            selected_global_usdt: 0,
            available_usdt: 0,
            global_usdt: 0,
            form: new Form({
                //strategy: null,
                binance_accounts: null,
                symbol: null,
                rule_id: null,
                value: null,
                size_percent: null,
                size_value: null,
                stop_loss_percent: null,
                take_profit_percent: null
            }),
            //strategies: [],
            clients: [],
            clients_options: [],
            prices: [],
            order_rules: [],
            pre_orders: [],
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        }),

        watch: {
            selected_binance_accounts() {
                this.calculateTotals();
            }
        },

        methods: {
            calculateTotals() {
                this.selected_available_usdt = 0
                this.selected_global_usdt = 0
                this.available_usdt = 0
                this.global_usdt = 0
                const selected_account_ids = this.selected_binance_accounts.map(account => account.id);
                this.clients.forEach((client) => {
                    client.binance_accounts_active.forEach((account) => {
                        this.available_usdt += account.last_balance ? parseFloat(account.last_balance.usdt) : 0
                        this.global_usdt += account.last_balance ? parseFloat(account.last_balance.total) : 0
                        if (selected_account_ids.indexOf(account.id) !== -1) {
                            this.selected_available_usdt += account.last_balance ? parseFloat(account.last_balance.usdt) : 0
                            this.selected_global_usdt += account.last_balance ? parseFloat(account.last_balance.total) : 0
                        }
                    })
                })
            },

            // setStrategy($event) {
            //     this.form.strategy = $event ? $event.id : null
            // },

            setBinanceAccountsByStrategy(strategy_id) {
                if (strategy_id > 0) {
                    this.clients.forEach((client) => {
                        client.binance_accounts_active.forEach((account) => {
                            if (parseInt(account.strategy_id) === parseInt(strategy_id)) {
                                if (!this.selected_binance_accounts.find(a => parseInt(a.id) === parseInt(account.id))) {
                                    this.selected_binance_accounts.push(account);
                                }
                            }
                        })
                    })
                } else if (strategy_id < 0) {
                    this.clients.forEach((client) => {
                        client.binance_accounts_active.forEach((account) => {
                            this.selected_binance_accounts.push(account);
                        })
                    })
                }else {
                    this.selected_binance_accounts = [];
                }
                this.form.binance_accounts = this.selected_binance_accounts ? this.selected_binance_accounts.map(account => account.id) : null
            },

            setBinanceAccounts($event) {
                this.form.binance_accounts = $event ? $event.map(account => account.id) : null
            },

            setSymbol($event) {
                this.form.symbol = $event ? $event.symbol : null
            },

            setRule($event) {
                this.form.rule_id = $event ? $event.id : null
            },

            searchBinanceAccounts(query) {
                this.clients_options = JSON.parse(JSON.stringify(this.clients))
                this.clients_options.filter((client) => {
                    if (client.name.toLowerCase().includes(query)) {
                        return client;
                    }
                    client.binance_accounts_active = client.binance_accounts_active.filter((account) => {
                        return account.name.toLowerCase().includes(query)
                            || account.strategy.name.toLowerCase().includes(query)
                    })
                    return client || client.name.toLowerCase().includes(query);
                })
            },

            async getLastPrices() {
                const {data} = await axios.get('/api/last-prices')
                this.prices = data
            },

            // async getStrategies() {
            //     const {data} = await axios.get('/api/strategies')
            //     this.strategies = data
            // },

            async getOrderRules() {
                const {data} = await axios.get('/api/admin/order-rules')
                this.order_rules = data
            },

            async getClients() {
                const {data} = await axios.get('/api/admin/get-clients')
                this.$store.commit('clients/setClients', data)
                this.clients = data
                this.clients_options = data // used for search dropdown
                this.calculateTotals();
            },

            async placePreOrder() {
                //console.log(this.form);
                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    text: "Are you sure the setup is correct? this will push asynchronous jobs for each account.",
                    showCancelButton: true,
                    confirmButtonText: this.$t('ok'),
                    cancelButtonText: this.$t('cancel')
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        try {
                            await this.form.post('/api/admin/pre-orders')
                            if (this.form.successful) {
                                //console.log(this.form)
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Pre-orders created successfully',
                                    text: 'All the orders will be displayed below',
                                    confirmButton: this.$t('close'),
                                    confirmButtonClass: 'btn btn-primary',
                                    buttonsStyling: false
                                })
                                this.form.reset()
                                this.selected_strategy = null
                                this.selected_binance_accounts = null
                                this.selected_symbol = null
                                this.selected_rule = null

                                //Event.fire('pre-order-created')
                                await this.$store.dispatch('pre-orders/getPreOrders')

                            }
                        } catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'There where an error.',
                                text: error,
                                confirmButton: this.$t('close'),
                                confirmButtonClass: 'btn btn-primary',
                                buttonsStyling: false
                            })
                        }
                    }
                })

            },

            customLabelSymbol(symbol) {
                return `${symbol.symbol} | $${symbol.price}`
            }
        }


    }
</script>
