<template>
    <div id="pre-orders-container">
        <table class="table binance-orders-table table-striped">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Account</th>
                <th>Size</th>
                <th>Buying Rule</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            <template v-if="pre_orders.length">
                <tr v-for="(pre_order, index) in pre_orders" :key="index">
                    <td>{{ pre_order.symbol }}<br><small>{{tickers[pre_order.symbol] ? `$${tickers[pre_order.symbol]}` : ''}}</small></td>
                    <td>
                        {{ pre_order.binance_account.name }}<br>
                        <small>{{ pre_order.binance_account.strategy.name }} | {{ pre_order.binance_account.user.name }}</small>
                    </td>
                    <td>{{ getSize(pre_order) }}</td>
                    <td>{{ getBuyingRule(pre_order) }}</td>
                    <td v-html="getStatus(pre_order)"></td>
                    <td @click="deletePreOrder(pre_order)"><fa :icon="['fas', 'trash']" fixed-width/> Remove</td>
                </tr>
            </template>
            <template v-else>
                <tr>
                    <td colspan="6"><i>No pre orders found</i></td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>


<script>
import {
    SendIcon,
} from "vue-feather-icons";
import {mapGetters} from 'vuex'
import Swal from "sweetalert2";
import Form from "vform";
import Multiselect from 'vue-multiselect'
import axios from "axios";
import {Helper} from "../../../_helper";

export default {
    name: 'PreOrders',

    components: {
        Multiselect,
        SendIcon
    },

    metaInfo() {
        return {title: this.$t('home')}
    },

    mounted() {
        this.dispatchPreOrders()
        this.intervalPreOrders = setInterval(() => { this.dispatchPreOrders() }, 5000)

        const ws = new WebSocket( 'wss://stream.binance.com:9443/ws/!miniTicker@arr' );
        ws.addEventListener( 'message', e => {
            let tickers = JSON.parse( e.data ) || [];
            //console.log(tickers);
            this.tickers = {};
            tickers.forEach((ticker) => {
                let { s, c } = ticker;
                this.tickers[s] = Number( c ).toFixed( 4 )
            })
        });
    },

    data: () => ({
        intervalPreOrders: null,
        tickers: {}
    }),

    beforeDestroy() {
        clearInterval(this.intervalPreOrders)
    },

    computed: mapGetters({
        authenticated: 'auth/check',
        pre_orders: 'pre-orders/all'
    }),

    methods: {
        dispatchPreOrders() {
            this.$store.dispatch('pre-orders/getPreOrders')
        },
        getSize(pre_order) {
            return pre_order.size_amount
                ? `$${pre_order.size_amount}`
                : `${pre_order.size_percent}%`
        },
        getStatus(pre_order) {
            const status = pre_order.status
                ? Helper.CapitalizeFirstLetterString(pre_order.status)
                : `Queued`
            const details = pre_order.details ?? ''
            return `
                <div>
                    <div>${status}</div>
                    <div><small>${details}</small></div>
                </div>
            `
        },
        getBuyingRule(pre_order) {
            const rule_id = parseInt(pre_order.rule.id);
            if (rule_id === 1 || rule_id === 2) {
                return `${pre_order.rule.name} $${pre_order.trigger_price}`
            }
            if (rule_id === 3) {
                return `${pre_order.rule.name}`
            }
            return 'no defined'
        },
        deletePreOrder(pre_order) {
            Swal.fire({
                icon: 'warning',
                title: this.$t('are_you_sure'),
                text: 'Are you Sure you want to remove this pre-order?',
                showCancelButton: true,
                confirmButtonText: this.$t('ok'),
                cancelButtonText: this.$t('cancel')
            }).then( async (result) => {
                if (result.isConfirmed) {
                    try {
                        const {data} = await axios.delete(`/api/admin/pre-orders/${pre_order.id}`)
                        await this.$store.dispatch('pre-orders/getPreOrders')
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'There where an error.',
                            text: error,
                            confirmButton: this.$t('close'),
                            confirmButtonClass: 'btn btn-primary',
                            buttonsStyling: false
                        })
                    }
                }
            })
        }

    }
}
</script>

<style lang="scss" scoped>
    #pre-orders-container {
        margin-top: 1rem;
    }
</style>
