<template>
    <div class="home" :id="route">
        <Navbar/>
        <child/>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "~/components/Navbar";
    import Footer from "~/components/Footer";

    export default {
        name: 'BasicLayout',

        components: {
            Navbar,
            Footer
        },

        computed: {
            route() {
                return this.$route.name;
            }
        }
    }
</script>

<style lang="scss">
</style>
