<template>
    <div class="dashboard-layout" :id="route">
        <Navbar class="dark"/>
        <child/>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar'
    import Footer from '~/components/Footer'

    export default {
        name: 'DashboardLayout',

        components: {
            Navbar,
            Footer
        },

        computed: {
            route() {
                return this.$route.name;
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
