<template>
    <div class="main-layout" :id="route">
        <Navbar class="dark"/>

        <div class="container mt-4">
            <child/>
        </div>


        <Footer/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar'
    import Footer from '~/components/Footer'

    export default {
        name: 'MainLayout',

        components: {
            Navbar,
            Footer
        },

        computed: {
            route() {
                return this.$route.name;
            }
        }
    }
</script>
