<template>
    <div class="row">
        <div class="col-lg-8 m-auto register">
            <card v-if="mustVerifyEmail" :title="$t('register')">
                <div class="alert alert-success" role="alert">
                    {{ $t('verify_email_address') }}
                </div>
            </card>
            <card v-else :title="$t('register')">
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                                   class="form-control" type="text" name="name">
                            <has-error :form="form" field="name"/>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }"
                                   class="form-control" type="email" name="email">
                            <has-error :form="form" field="email"/>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }"
                                   class="form-control" type="text" name="phone">
                            <has-error :form="form" field="phone"/>
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('country') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.country"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('country') }"
                                    name=""
                                    id="">
                                <template v-for="country in countries">
                                    <option :value="country">{{country}}</option>
                                </template>
                            </select>
                            <has-error :form="form" field="country"/>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }"
                                   class="form-control" type="password" name="password">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password_confirmation"
                                   :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                                   class="form-control" type="password" name="password_confirmation">
                            <has-error :form="form" field="password_confirmation"/>
                        </div>
                    </div>

                    <!-- Referral Program -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('referral_id') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.referral_id"
                                   :class="{ 'is-invalid': form.errors.has('referral_id') }"
                                   :disabled="!!form.referral_id"
                                   class="form-control" type="text" name="referral_id">
                            <has-error :form="form" field="referral_id"/>
                        </div>
                    </div>

                    <!-- Terms -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right"></label>
                        <div class="col-md-7">
                            <div class="form-check">
                                <input v-model="form.terms"
                                       type="checkbox"
                                       :class="{ 'is-invalid': form.errors.has('terms') }"
                                       class="form-check-input"
                                       id="terms-and-conditions">
                                <label class="form-check-label" for="terms-and-conditions">
                                    I agree to all
                                    <router-link :to="{ name: 'home' }">
                                        Terms and Conditions
                                    </router-link>
                                    &
                                    <router-link :to="{ name: 'home' }">
                                        Privacy Policy
                                    </router-link>
                                    and I am over 18 years of age.
                                </label>
                                <has-error :form="form" field="terms"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 offset-md-3 d-flex">
                            <!-- Submit Button -->
                            <v-button :loading="form.busy">
                                {{ $t('register') }}
                            </v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'
    import LoginWithGithub from '~/components/LoginWithGithub'
    import {Helper} from '~/_helper'

    export default {
        components: {
            //LoginWithGithub
        },

        middleware: 'guest',

        metaInfo() {
            return {title: this.$t('register')}
        },

        mounted() {
            if (this.$route.query.ref) {
                this.form.referral_id = this.$route.query.ref;
            }
        },

        data: () => ({
            form: new Form({
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                country: '',
                phone: '',
                referral_id: '',
                terms: ''
            }),
            mustVerifyEmail: false,
            countries: Helper.Countries
        }),

        methods: {
            async register() {
                // Register the user.
                const {data} = await this.form.post('/api/register')

                // Must verify email fist.
                if (data.status) {
                    this.mustVerifyEmail = true
                } else {
                    // Log in the user.
                    const {data: {token}} = await this.form.post('/api/login')

                    // Save the token.
                    this.$store.dispatch('auth/saveToken', {token})

                    // Update the user.
                    await this.$store.dispatch('auth/updateUser', {user: data})

                    // Redirect home.
                    this.$router.push({name: 'dashboard.home'})
                }
            }
        }
    }
</script>
